# 변수

In [ ]:
name = 'Licat'
age = 30
print(name, age)

In [ ]:
x = 10
y = x
z = y
id(x), id(y), id(z)

In [ ]:
x = 10
y = 10
z = 10
id(x), id(y), id(z)

In [ ]:
x = 10
y = x
z = y
x = 20
id(x), id(y), id(z)

In [ ]:
asb = 10
ASB = 20
ASB1 = 30
asb_ASB = 40
_asb = 50

In [ ]:
import keyword

print(keyword.kwlist)

In [ ]:
name = "benny" # 관습 O
Name = "Benny" # 관습 X
NAME = "BENNY" # 관습 X
name, Name, NAME

In [ ]:
for _ in range(10):
    print("안녕하세요")

In [ ]:
class BlogPost:
    pass

my_name = "내 이름"

In [ ]:
age = 10
print(type(age)) # 출력: <class 'int'>
print(age + age)

name = "licat"
print(type(name)) # 출력: <class 'str'>
print(name + name)

In [ ]:
x: int = 10
y: str = 'licat'
print(x, y)

In [ ]:
x = 10
print(type(x))
print(dir(x))
x.as_integer_ratio()

In [ ]:
x = 10
print(x)  # 출력: 10
print(id(x))
x = 20
print(x)  # 출력: 20
print(id(x))
x = "Hello"
print(x)  # 출력: Hello
print(id(x))

# 정수 자료형

In [ ]:
x = 10
y = -5
z = 0
print(type(x), type(y), type(z))

In [ ]:
x = 10
y = 20 # 음수도 넣어보세요.
result = x + y
print(result) # 출력 : 30

In [ ]:
x = 10
y = 20 # 음수도 넣어보세요.
result = x - y
print(result) # 출력 : -10

In [ ]:
x = 10 # 음수도 넣어보세요.
y = 20 # 음수도 넣어보세요.
result = x * y
print(result) # 출력 : 200

In [ ]:
x = 10
y = 20
result1 = x / y
result2 = x // y
print(result1, result2) # 출력

In [ ]:
x = 731
y = 0b110
print(x, y)

In [ ]:
x = 5
print(dir(5))

In [ ]:
x = 256
y = 256
print(id(x), id(y))

In [ ]:
x = 257
y = 257
print(id(x), id(y))

# 실수 자료형

In [ ]:
x = 10.0
y = -5.0
z = 0.0
print(type(x), type(y), type(z))

In [ ]:
x = 9.9
y = 20.1
result = x + y
print(result)
print(type(result))

In [ ]:
x = 15.5
y = 5.5
result = x - y
print(result)
print(type(result))

In [ ]:
x = 10.0
y = 2
result = x * y
print(result)
print(type(result))

In [ ]:
x = 10
y = 5
result = x / y
print(result)
print(type(result))


x = 10.0
y = 5.0
result = x // y
print(result)
print(type(result))

In [ ]:
x = 10.0
y = 5
result = x / y
print(result)
print(type(result))

In [ ]:
x = float("inf")
print(x)
x = float("-inf")
print(x)

In [ ]:
10.1 + 10.2

In [ ]:
x = 0.1
y = 0.2
x *= 10
y *= 10
result = x + y
result /= 10
print(result)

# 문자열 자료형

In [ ]:
x = 'hello'
y = "python"
print(type(x), type(y))

In [ ]:
i = '''안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
'''


j = """안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
"""


print(i)
print(j)

In [ ]:
imsi_str = '안녕하세요\n저는 위니브의 대표 이호준입니다.\n파이썬 참 좋아요.\n여러분 정말 잘 선택하셨어요.'
print(imsi_str)
print("안녕하세요")
print("저는 위니브의 직원 황병헌입니다.")

In [ ]:
x = 'hello'
y = 'world'
print(x + y)

In [ ]:
x = 'hello'
print(x * 3)

In [ ]:
s = '위니브 월드!'
print(s[0]) # 출력 : '위'
print(s[-1]) # 출력 : '!'

In [ ]:
s = '위니브 월드!'
print(s[100])

In [ ]:
s = '위니브 월드!'
print(s[0:3])

In [ ]:
s = 'weniv CEO licat'
print(s[0:5]) # 출력 : weniv # 첫번째 예제
print(s[6:]) # 출력 : CEO licat # 두번째 예제
print(s[:]) # 출력 : weniv CEO licat # 세번째 예제
print(s[::-1]) # 출력 : tacil OEC vinew # 네번째 예제
print(s[::2]) # 출력 : wnvCOlct # 다섯번째 예제

In [ ]:
s = 'weniv CEO licat'
s[19:20] # 출력 : licat

In [ ]:
s = 'weniv CEO licat'
s.lower()
s.upper()
print(s.find("CEO"))
print(s.index("CEO"))
s.count('i')
s = '       weniv CEO licat          '
s.strip()
'    ,!!  hello world   '.strip(' ,!')

In [ ]:
s = 'weniv CEO licat'
s.replace('CEO', 'CTO')
s = 'weniv CEO licat'
s.replace('ceo', 'CTO')

In [ ]:
s = 'weniv CEO licat'
ss = s.replace('i', 'I')
ss, s

In [ ]:
s = 'weniv CEO licat'
s.split("i")

In [ ]:
s = 'weniv-CEO-licat'
s.split('-') #-을 기준으로 문자열 나누기

In [ ]:
s = ['weniv', 'CEO', 'licat']
'-'.join(s) #리스트를 하나의 문자열로 합치기

In [ ]:
'abcd1234'.isalnum() # 출력: True
'abcd1234!'.isalnum() # 출력: False
'안녕하세요'.isalnum() # 출력: True
'こんにちは'.isalnum() # 출력: True
'你好'.isalnum() # 출력: True

In [ ]:
s = '1231'
s.isdigit()

In [ ]:
print('abcd1234'.isalpha()) # 출력: False
print('안녕하세요'.isalpha()) # 출력: True
print('こんにちは'.isalpha()) # 출력: True
print('你好'.isalpha()) # 출력: True
print('hello world'.isalpha()) # 출력: False
print('helloworld'.isalpha()) # 출력: True

In [ ]:
print('안녕'.isascii()) # 출력: False
print('!@ ()+'.isascii()) # 출력: True
print('hello'.isascii()) # 출력: True
print('hello world'.isascii()) # 출력: True

In [ ]:
s = 'licat'
print(s.rjust(10))
print(s.rjust(10, '-')) #문자열을 지정한 길이로 맞추고, 왼쪽을 '-'로 채우는 메서드

In [ ]:
s = 'licat'
print(s.ljust(10))
print(s.ljust(10, '-'))

In [ ]:
s = 'licat'
s.center(11, '-')

In [ ]:
s = 'licat'
s.center(3, '-')

In [ ]:
x = "42"
result = x.zfill(5)
print(result)  # 00042

In [ ]:
y = "-42"
result = y.zfill(5)
print(result)  # -0042

In [ ]:
for i in range(1, 101):
    filename = str(i).zfill(3) + ".jpg"
    print(filename)

In [96]:
년 = '23'
월 = '9'
일 = '8'
오늘날짜 = f"{년}년 {월}월 {일}일"
print(오늘날짜)
오늘날짜 = f"{년}년 {월.zfill(2)}월 {일.zfill(2)}일"
print(오늘날짜)

23년 9월 8일
23년 09월 08일

In [98]:
print("Hello\nWorld!") # Hello와 World! 사이에 줄바꿈이 일어납니다.
print("Hello\tWorld!") # Hello와 World! 사이에 탭 간격이 생깁니다.
print("She said, \"Hello World!\"") # 큰따옴표 내부에 문자열을 출력합니다.
print('She said, \'Hello World!\'') # 작은따옴표 내부에 문자열을 출력합니다.
print("Backslash: \\") # 백슬래시를 출력합니다.

Hello
World!
Hello	World!
She said, "Hello World!"
She said, 'Hello World!'
Backslash: \

# 논리 자료형

In [99]:
x = True
y = False
z = 10 > 3
print(x, y, z)

True False True

In [100]:
print(True == 1) # 출력: True
print(False == 0) # 출력: True

True
True

In [101]:
print(True + True) # 출력: 2
print(False - True) # 출력: -1
print(True / True) # 출력: 1.0
print(True * False) # 출력: 0

2
-1
1.0
0

In [103]:
print(1 == True, 1 is True) # 출력: True, False
print(0 == False, 0 is False) # 출력: True, False
print('weniv'[True]) # 출력: e
print('weniv'[-True]) # 출력: v
print('weniv'[False]) # 출력: w
print(issubclass(bool, int))

True False
True False
e
v
w
True

<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
<>:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
C:\Users\elwl5\AppData\Local\Temp\ipykernel_39772\1722190659.py:1: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(1 == True, 1 is True) # 출력: True, False
C:\Users\elwl5\AppData\Local\Temp\ipykernel_39772\1722190659.py:2: SyntaxWarning: "is" with 'int' literal. Did you mean "=="?
  print(0 == False, 0 is False) # 출력: True, False

# None 자료형

In [104]:
x = None
print(x)

None

In [108]:
None + 5
None + None
None = 10

SyntaxError: cannot assign to None (304936782.py, line 3)

In [109]:
x = None
y = None
print(id(x), id(y))

140728613298672 140728613298672

In [110]:
x = None

print(x == None)    # True, 하지만 이 방식은 권장되지 않습니다.
print(x is None)

True
True

In [113]:
class 캐릭터:
    # ... 체력, 마력, 공경력, 방어력을 정의하는 수많은 코드 ...
    def __eq__(self, other):
        return True

# 캐릭터 클래스의 인스턴스
주인공 = 캐릭터()
보스 = 캐릭터()

print(주인공 == None)
print(주인공 == 100)
print(주인공 == 보스)
print(주인공 is None)

True
True
True
False

In [2]:
sentence = '  Hello, World!  '
# Hello, World! -> hello, world! -> hello, python! -> ['hello,', 'python!']
sentence = sentence.strip().lower().replace('world', 'python').split()
sentence

['hello,', 'python!']

In [5]:
# 백슬러쉬 사용해서 개행을 할 수 있습니다.
sentence = '  Hello, World!  '
result = sentence\
         .strip()\
         .lower()\
         .replace('world', 'python')

print(result)  # 'hello, python!'

hello, python!

In [6]:
'010-1000-2000'.split('-').replace('0', 'x')

AttributeError: 'list' object has no attribute 'replace'

In [ ]:
월급 = int(input("월급을 입력하세요:"))
연봉 = int(월급) * 12
print(f'당신의 연봉은 {연봉}입니다.')

당신의 연봉은 200200200200200200200200200200200200입니다.

In [ ]:
num = '123'
print(type(num))

num = int(num)
print(type(num))

s = '10hello'
s = int(s) # Error

<class 'str'>
<class 'int'>

In [9]:
f = 3.14159
number = int(f)
print(number)  # 출력: 3

3

In [11]:
true_int = int(True)
false_int = int(False)


print(true_int)  # 출력: 1
print(false_int)  # 출력: 0

1
0

In [12]:
n = str(123)
print(123, n)
print(type(n))

m = str(123.4)
print(123.4, m)
print(type(m))

123 123
<class 'str'>
123.4 123.4
<class 'str'>

In [13]:
print("bool('test'):", bool('test'))
print("bool(' '):", bool(' '))
print("bool(''):", bool('')) # False
print("bool(100):", bool(100))
print("bool(1):", bool(1))
print("bool(0):", bool(0)) # False
print("bool(-1):", bool(-1))
print("bool(None):", bool(None)) # False
print("bool([]):", bool([])) # False
print("bool(tuple()):", bool(tuple())) # False
print("bool({}):", bool({})) # False
print("bool(set()):", bool(set())) # False

bool('test'): True
bool(' '): True
bool(''): False
bool(100): True
bool(1): True
bool(0): False
bool(-1): True
bool(None): False
bool([]): False
bool(tuple()): False
bool({}): False
bool(set()): False

In [ ]:
s = 10
print(float(s))


s = '10'
print(float(s))


s = '3.14'
print(float(s))

10.0
10.0
3.14

In [17]:
infinity = float('inf')
neg_infinity = float('-inf')
not_a_number = float('nan')

print("infinity:", infinity)
print("neg_infinity:", neg_infinity)
print("not_a_number:", not_a_number)

infinity: inf
neg_infinity: -inf
not_a_number: nan

In [18]:
10 / 1

10.0