# 시퀀스 자료형

In [3]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4
print(packed_tuple)  # 출력: (1, 2, 3, 4)
type(packed_tuple)

(1, 2, 3, 4)

tuple

In [5]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4


# 튜플 언패킹
a, b, _, _ = packed_tuple
print(a)  # 출력: 1
print(b)  # 출력: 2

1
2

In [6]:
for i, j in [[10, 20], [100, 200]]:
    print(i, j)

10 20
100 200

In [7]:
first, *middle, last = [1, 2, 3, 4, 5]
print(first)    # 출력: 1
print(middle)   # 출력: [2, 3, 4]
print(last)     # 출력: 5

1
[2, 3, 4]
5

# 리스트

In [12]:
x = [1, 2, 3] # CSV 파일과 비슷 ,
y = ['apple', 'banana', 'cherry']
z = [1, [2], 3]

print(len(x))
print(len(y))

3
3

In [15]:
z = [1, 'apple', 2.5, ['a', 'b'], (1, 2)]
print(z[0])

z[99]

1

IndexError: list index out of range

In [16]:
a = [1, 2, 3, 4, 5]
a[0] = 10000
print(a)

[10000, 2, 3, 4, 5]

In [ ]:
s = 'licat' # kicat
s = 'kicat'
print(s[0])
s[0] = 'k'

l

TypeError: 'str' object does not support item assignment

In [20]:
b = [[10, 20, 30], [1, 2, 3]]
b[0][2]

30

In [21]:
a = [1, 2, 3, 4, 5]
b = [6, 7, 8]

print(a + b) # 출력: [1, 2, 3, 4, 5, 6, 7, 8]

[1, 2, 3, 4, 5, 6, 7, 8]

In [24]:
import numpy as np

l = [1, 2, 3]
l = np.array(l)
# l * 3
l + l

array([2, 4, 6])

In [25]:
a = [1, 2, 3]
a = a * 3
# a = [1, 2, 3, 1, 2, 3, 1, 2, 3]


a[0] = 1000
print(a)

[1000, 2, 3, 1, 2, 3, 1, 2, 3]

In [29]:
a = [1, 2, 3]
print(id(a))
a = [a * 2]
print(id(a))
a = a * 2 # 리스트 컴프리헨션 사용하셔서 만드시는 것을 권합니다.
print(id(a))
# a = [0 for _ in range(6)]


print(a)
print(id(a[0]), id(a[1]))
a[0][0] = 10000
print(a)

1361487716544
1361487717312
1361486074368
[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]
1361486073856 1361486073856
[[10000, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3]]

In [33]:
a = [[1,2,3,4,5,6] for _ in range(2)]
id(a)
id(a[0]), id(a[1])

(1361487726272, 1361486072896)

In [34]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

1
4
5
3

In [35]:
lst = [1, 2, 3, 4, 5]
print(lst[10])

IndexError: list index out of range

In [37]:
l = [1, 2, 3, 4, 5]
print(l[1:100]) # 출력: [2, 3, 4]

[2, 3, 4, 5]

In [ ]:
l = [1, 2, 3, 4, 5]
print(l[:])     # 출력: [1, 2, 3, 4, 5]
print(l[::-1])  # 출력: [5, 4, 3, 2, 1]
print(l[::2])   # 출력: [1, 3, 5]
# [1, 2, 3, 4] -> [4, 3, 2, 1]
print(l[0:4][::-1]) # 출력: [4, 3, 2, 1]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]
[4, 3, 2, 1]

In [42]:
print(dir(list))
x = []
print(dir(x))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [44]:
a = [1, 2, 3]
a.append(10)
print(a) 
a.clear()
print(a)  # 출력: []

[1, 2, 3, 10]
[]

In [ ]:
a = [1, 2, 3]
# a = b
b = a.copy()
b[0] = 10000
print(a)  # 출력: [1, 2, 3]
print(b)  # 출력: [10000, 2, 3]

[1, 2, 3]
[10000, 2, 3]

In [46]:
l = [10, 20, 30]
ll = l[:]
print(id(ll), id(l))
l[0] = 1000
print(l, ll) # 출력: [1000, 20, 30] [10, 20, 30]

1361451017408 1361444759232
[1000, 20, 30] [10, 20, 30]

In [48]:
a = [1, 1, 2, 3, 1]
print(a.count(1))

3

In [49]:
a = [1, 2, 3]
a.extend([4, 5, 6])
print(a)  # 출력: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [50]:
l = [10, 20, 30]
l.extend('hello')
l

[10, 20, 30, 'h', 'e', 'l', 'l', 'o']

In [51]:
l = [10, 20, 30]
ll = ['40', '50', '60']
l.extend(map(int, ll))
l

[10, 20, 30, 40, 50, 60]

In [55]:
a = [10, 20, 30, 40]
# print(a.index(50))
a.find(50)

AttributeError: 'list' object has no attribute 'find'

In [57]:
a = [10, 20, 30, 40]
a.insert(2, 25)
print(a)  # 출력: [10, 20, 25, 30, 40]

[10, 20, 25, 30, 40]

In [61]:
a = [10, 20, 30, 40]
a.insert(2, 25)
print(a.pop(2))  # 출력: 25
print(a)  # 출력: [10, 20, 30, 40]
print(a.pop())
print(a)

25
[10, 20, 30, 40]
40
[10, 20, 30]

In [62]:
l = [1, 2, 3, 4, 5]

while l:
    print(l.pop())

5
4
3
2
1

In [63]:
l = [1, 2, 3, 4, 5]
 
while l:
    print(l.pop(0))

1
2
3
4
5

In [64]:
a = [1, 2, 3, 1, 2]
a.remove(2)
print(a)

[1, 3, 1, 2]

In [65]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
while l.count(2):
    l.remove(2)
l

[1, 3, 1, 1, 1]

In [66]:
l = [1, 2, 3, 1, 2, 2, 2, 1, 1]
list(filter(lambda x: x != 2, l))

[1, 3, 1, 1, 1]

In [ ]:
a = [1, 2, 3, 1, 2]
a.reverse()
print(a)

[2, 1, 3, 2, 1]

In [70]:
a = [3, 2, 5, 1, 4]
b = reversed(a)
print(a)        # 출력: [3, 2, 5, 1, 4]
print(list(b))

[3, 2, 5, 1, 4]
[4, 1, 5, 2, 3]

In [71]:
a = [3, 2, 5, 1, 4]
a.sort()
print(a)

[1, 2, 3, 4, 5]

In [72]:
a = [3, 2, 5, 1, 4]
b = sorted(a)
print(a)  # 출력: [3, 2, 5, 1, 4]
print(b)  # 출력: [1, 2, 3, 4, 5]

[3, 2, 5, 1, 4]
[1, 2, 3, 4, 5]

# 튜플

In [74]:
x = 1, 2, 3
y = ('apple', 'banana', 'cherry')

In [75]:
z = (1, 'apple', 2.5, ['a', 'b'], (1, 2))

In [76]:
x = [10, 20, 30]
y = (1, 2, x)
x[0] = 1000
y # 출력: (1, 2, [1000, 20, 30])

(1, 2, [1000, 20, 30])

In [80]:
t1 = () # tuple
t2 = (0,) # tuple 단일 값의 튜플을 사용할때 꼭 콤마를 넣어주세요!
t3 = (0) # int
t4 = (0.1) # float
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'float'>

In [81]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple3)  # 출력: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [82]:
tuple1 = (1, 2, 3)
tuple2 = tuple1 * 3
print(tuple2)  # 출력: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [83]:
t = (1, 2, 3, 4, 5)
print(t[0])  # 출력: 1

1

In [84]:
t = (1, 2, 3, 4, 5)
print(t[1:4])  # 출력: (2, 3, 4)

(2, 3, 4)

In [85]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [86]:
tuple1 = (1, 2, 3, 4, 3, 5)
print(tuple1.count(3))  # 출력: 2

2

In [87]:
tuple1 = (1, 2, 3, 4, 3, 5)
print(tuple1.index(3))  # 출력: 2

2

# 딕셔너리

In [91]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
person['name']

'licat'

In [92]:
d1 = {}
d2 = dict()

print(type(d1))  # 출력: <class 'dict'>
print(type(d2))  # 출력: <class 'dict'>

<class 'dict'>
<class 'dict'>

In [94]:
d = {'one1' : '하나', 'one2' : '하나2', 'one3' : '하나3'}
print(d)  # 출력: {'one' : '하나3'}

{'one1': '하나', 'one2': '하나2', 'one3': '하나3'}

In [96]:
l = [('one' , '하나'), ('two', '둘')]
d = dict(l)
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{'one': '하나', 'two': '둘'}

In [97]:
d = dict(name='licat', age=10)
print(d)  # 출력: {'name': 'licat', 'age': 10}

{'name': 'licat', 'age': 10}

In [98]:
complex_dict = {
    "numbers": [1, 2, 3],
    42: "answer",
    ("x", "y"): [10, 20],
    True: [100, 200]
}
print(complex_dict["numbers"])  # 출력: [1, 2, 3]
print(complex_dict[42])         # 출력: answer
print(complex_dict[("x", "y")]) # 출력: [10, 20]
print(complex_dict[True])       # 출력: [10, 20]

[1, 2, 3]
answer
[10, 20]
[100, 200]

In [100]:
person = {'name': 'licat', 'city': 'Jeju'}
person['name'] = 'mura'
person['city'] = 'Seoul'
print(person) 
person['age'] = 10

print(person) # 출력: {'name': 'mura', 'city': 'Seoul', 'age': 10}

{'name': 'mura', 'city': 'Seoul'}
{'name': 'mura', 'city': 'Seoul', 'age': 10}

In [101]:
users = {
    "leehojun": {"city": "Jeju", "job": "Developer"},
    "licat": {"city": "Seoul", "job": "Designer"}
}
print(users["leehojun"]["job"]) # 출력: Developer

Developer

In [102]:
keys = ["name", "city", "job"]
values = ["licat", "Jeju", "Developer"]

new_dict = dict(zip(keys, values))
print(new_dict)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [103]:
print(dir(dict))

['__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__ior__', '__iter__', '__le__', '__len__', '__lt__', '__ne__', '__new__', '__or__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__ror__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 'popitem', 'setdefault', 'update', 'values']

In [104]:
data = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
data.clear()
print(data)

{}

In [105]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
copied_person = person.copy()
print(copied_person)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [107]:
keys = ['name', 'city', 'job']
# keys = 'hello' # 이렇게 이터러블한 객체는 모두 가능합니다.
value = None
print(dict.fromkeys(keys, value))

keys = ['name', 'city', 'job']
value = ['licat', 'Jeju', 'Developer']
print(dict.fromkeys(keys, value))

{'name': None, 'city': None, 'job': None}
{'name': ['licat', 'Jeju', 'Developer'], 'city': ['licat', 'Jeju', 'Developer'], 'job': ['licat', 'Jeju', 'Developer']}

In [ ]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
# person["age"]

KeyError: 'age'

In [109]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
print(numbers.get('four'))
print(numbers.get('three', '없음'))
print(numbers.get('four', '없음'))
print(numbers['four'])

None
셋
없음

KeyError: 'four'

In [111]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
for k, v in person.items():
    print(f"{k}: {v}")

name: licat
city: Jeju
job: Developer

In [ ]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
print('one' in numbers)
print('four' in numbers)

In [114]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
for k in person.keys():
    print(person[k])

licat
Jeju
Developer

In [116]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
one_value = numbers.pop('one')
print(one_value)
print(numbers)

numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop() # error
numbers

하나
{'two': '둘', 'three': '셋'}

TypeError: pop expected at least 1 argument, got 0

In [119]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
item = numbers.popitem()
print(item)
print(type(item))  # 출력: <class 'tuple'>
print(numbers)

('three', '셋')
<class 'tuple'>
{'one': '하나', 'two': '둘'}

In [120]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷")
print(four_value)
print(numbers)

넷
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}

In [121]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("three", 3) # 3이 반영되지 않습니다.
print(four_value)
print(numbers)

셋
{'one': '하나', 'two': '둘', 'three': '셋'}

In [123]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}

In [124]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
print(person.values())

dict_values(['licat', 'Jeju', 'Developer'])

# 셋