In [ ]:
# for문

In [1]:
for i in range(1, 11) :
    print(f'{i}-1')

1-1
2-1
3-1
4-1
5-1
6-1
7-1
8-1
9-1
10-1

In [2]:
for s in 'hello': # 순회 가능한 객체가 들어갑니다.
    print(f'현재 값은 {s} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [ ]:
s = '123'
result = 0
for i in s:
    if i.isdigit():
        result += int(i)
print(result)

6

In [4]:
s = '010-1000?2000'
result = ''
for i in s:
    if i.isdigit():
        result += i
print(result)

01010002000

In [5]:
l = ['one', 'two', 'three']
for i in l:
    print(i)

one
two
three

In [6]:
for i in [[1, 2], [10, 20], [100, 200]]:
    print(i)
    print(i[0] + i[1])

[1, 2]
3
[10, 20]
30
[100, 200]
300

In [8]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}


for i in 단어_사전:
    print(i)
    
for key, value in 단어_사전.items():
    print(f'{key} : {value}')

하나
둘
셋
하나 : one
둘 : two
셋 : three

In [9]:
for i in 단어_사전:
    print(i, ':', 단어_사전[i])

하나 : one
둘 : two
셋 : three

In [10]:
for i in range(5):
    print(i)

0
1
2
3
4

In [11]:
result = 0
for i in range(0, 11, 2):
    result += i
result # 결과: 30

30

In [12]:
result = 0
for i in range(101):
    result += i
result

5050

In [13]:
# 중첩 for문

for i in range(1, 4):
    for j in range(1, 11):
        print(f'{i}층 {j}번째 책')

1층 1번째 책
1층 2번째 책
1층 3번째 책
1층 4번째 책
1층 5번째 책
1층 6번째 책
1층 7번째 책
1층 8번째 책
1층 9번째 책
1층 10번째 책
2층 1번째 책
2층 2번째 책
2층 3번째 책
2층 4번째 책
2층 5번째 책
2층 6번째 책
2층 7번째 책
2층 8번째 책
2층 9번째 책
2층 10번째 책
3층 1번째 책
3층 2번째 책
3층 3번째 책
3층 4번째 책
3층 5번째 책
3층 6번째 책
3층 7번째 책
3층 8번째 책
3층 9번째 책
3층 10번째 책

In [14]:
for i in range(2, 10): # 1
    print(f'---{i}단---')
    for j in range(1, 10): # 2
        print(f'{i} X {j} = {i * j}')

---2단---
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
---3단---
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
---4단---
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
---5단---
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
---6단---
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
---7단---
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
---8단---
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
---9단---
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [ ]:
# 컴프리헨션

In [15]:
# step1 list안에 for문을 가져옵니다.
[for i in range(1, 10)]
 
# step2 append 항목을 맨 앞으로 가져옵니다.
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]

SyntaxError: invalid syntax (3086886933.py, line 2)

In [16]:
l = [i*2 for i in range(1, 10)]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [17]:
l = []
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        l.append(i)
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [18]:
l = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [ ]:
nums = [1, 2, 3, 4, 5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 == 0 else f'{x}는 3보다 큰 홀수' for x in nums if x > 3]
print(result) # 출력: ['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [20]:
def sumthingFunction(i): # 1
    if i % 100 == 0:
        return i
    else:
        return 0


l = [100, 200, 300, 101, 202, 303] # 2
l = [sumthingFunction(i) for i in l] # 3
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [21]:
# 딕셔너리 컴프리헨션

{i: i**2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [22]:
even_squares = {x: x**2 for x in range(10) if x % 2 == 0}
even_squares

{0: 0, 2: 4, 4: 16, 6: 36, 8: 64}

In [23]:
# enumerate를 이용한 순회

영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)


for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!