#### 1번문제

In [24]:
i=100    
numbers = []
for i in range(1,i+1):
    numbers.append(i)
print(sum(numbers))

5050

#### 2번문제

In [25]:
data = [
  {
    "_id": "6019fd4354979ca26b8f91dc",
    "age": 26,
    "eyeColor": "green",
    "name": "Bender Allen",
    "gender": "male"
  },
  {
    "_id": "6019fd43db2951868889a0b4",
    "age": 27,
    "eyeColor": "blue",
    "name": "Jacobs Golden",
    "gender": "male"
  },
  {
    "_id": "6019fd438c0bf8e775c28536",
    "age": 27,
    "eyeColor": "brown",
    "name": "Grimes Oneal",
    "gender": "male"
  },
  {
    "_id": "6019fd43b68a7fd8b081ab26",
    "age": 40,
    "eyeColor": "blue",
    "name": "Melissa Joyce",
    "gender": "female"
  },
  {
    "_id": "6019fd436c1edc4757aabb9d",
    "age": 32,
    "eyeColor": "blue",
    "name": "Malone Bush",
    "gender": "male"
  },
]

ages = []
for user in data:
    ages.append(user["age"])
total_age = sum(ages)
average_age = total_age / len(data)
print(average_age)

30.4

#### 3번문제 (아직 다 하지 못했습니다)