# 산술연산

In [1]:
print(5 + 3) # 결과: 8
print(3 + 2.5) # 결과: 5.5

8
5.5

In [3]:
s1 = "Hello"
s2 = "World"
result = s1 + " " + s2
print(result)  # Hello World

Hello World

In [4]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [5]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [6]:
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [8]:
# {'one':1} + {'two':2} # error
{5} + {6} # error

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [ ]:
print({'one':1} | {'two':2}) # 결과: {'one': 1, 'two': 2}
print({5} | {6}) # 결과: {5, 6}
# shift + \
# |

{'one': 1, 'two': 2}
{5, 6}

In [10]:
print(7 - 4) # 결과: 3
print(10 - 3.5) # 결과: 6.5
print(5 - (-3)) # 결과: 8

3
6.5
8

In [12]:
{3, 4, 5} - {4} # 결과: {3, 5}
{3, 4, 5}.difference({4}) # 결과: {3, 5}

{3, 5}

In [13]:
result = "Hello" - 3 # error

TypeError: unsupported operand type(s) for -: 'str' and 'int'

In [15]:
print(7 - 4) # 결과: 3
print(7 -- 4) # 결과: 11
print(7 --- 4) # 결과: 3
print(7 ---- 4) # 결과: 11

3
11
3
11

In [16]:
print(3 * 4) # 결과: 12
print(5 * 2.5) # 결과: 12.5

12
12.5

In [17]:
print("Ha" * 3) # 출력: "HaHaHa"
# print("Ha" * 3.1) # Error

HaHaHa

In [18]:
print([1, 2, 3] * 2) # 출력: [1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [19]:
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) # 결과 5

5.0
5

In [20]:
a = -5
b = 2
print(a / b) # 결과: -2.5
print(a // b) # 결과: -3

-2.5
-3

In [22]:
z = 0
10 / z # ZeroDivisionError 발생

ZeroDivisionError: division by zero

In [23]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [24]:
10 % 3

1

In [25]:
10 % 2 == 0
10 % 2 != 0

False

In [26]:
365 % 10 == 0 # 1의 자리 반환

False

In [27]:
10 ** 3

1000

In [28]:
4 ** 0.5 # 결과: 2

2.0

In [ ]:
(-2) ** 2

4

In [31]:
a = 10
++a

10

# 비교연산

In [32]:
print(5 == 5) # 결과: True
# print(5 = 5) # 잘못된 예시

True

In [33]:
print(5 != 3) # 결과: True

True

In [34]:
print(5 <= 5) # 결과: True
print(3 <= 5) # 결과: True

True
True

In [35]:
print(6 > 5)

True

In [36]:
print(5 >= 5) # 결과: True

True

In [37]:
print('apple' < 'banana') # 결과: True

True

In [38]:
print('하하' > '후후') # 결과: False

False

In [39]:
x = 10
print(5 < x < 15) # 결과: True

True

In [40]:
[10, 20, 30] > [20, 30, 40] # False

False

In [42]:
'abcde' > 'abcda' # True

True

In [ ]:
'abcd' < 'abcda'

False

In [49]:
import math

result = 0.1 + 0.2
print(result)
print(result == 0.3)              # False
print(math.isclose(result, 0.3))  # True
print(math.isclose(result, 0.29)) # False
print(math.isclose(result, 0.31)) # False
print(math.isclose(result, 0.30000001)) # False

0.30000000000000004
False
True
False
False
False

# 논리연산

In [50]:
# and 두가지 조건이 모두 참일때만 True
# 예 5 > 3 and 4 > 3 -> True
# 하나라도 조건이 틀리면 False
# 값이 같더라도 ID가 달라서 False 여러가지 상황이 있다.

print(True and True)   # 결과: True
print(True and False)  # 결과: False
print(False and True)  # 결과: False
print(False and False) # 결과: False

True
False
False
False

In [ ]:
# and 두가지 조건이 모두 참일때만 True
# 예 5 > 3 and 4 < 3 -> True
# 하나라도 조건이 맞으면 True

print(True or True)   # 결과: True
print(True or False)  # 결과: True (and와 차이점)
print(False or True)  # 결과: True (and와 차이점)
print(False or False) # 결과: False

In [51]:
print(not True)  # 결과: False
print(not False) # 결과: True

False
True

In [53]:
num = 15
result = num > 10 and num < 20 # 기억해주세요
result = 10 < num < 20
print(result) # 결과: True

True

In [54]:
for i in range(101): # 0부터 100까지를 반복합니다.
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [55]:
a = 'hello'
b = ''
 
a and b # 출력: ''

''

In [57]:
a = 'hello'
b = 'world'
 
print(a and b) # 출력: world

world

In [58]:
a = ''
b = 'world'
 
a and b # 출력: ''

''

In [59]:
def test1():
    print("test1 함수 호출!")
    return False


def test2():
    print("test2 함수 호출!")
    return True


result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [ ]:
lst = []
if lst and lst[0] > 3:
    print("리스트의 첫 번째 원소는 3보다 큽니다.")

In [60]:
a = 'hello'
b = ''


a or b # 출력: 'hello'

'hello'

# 할당연산

In [63]:
x = True and False
x

False

In [ ]:
x = 5
y = 2
z = 10

x += y * z
# x += (2 * 10)
# x += (20)
# x = x + 20
# x = 5 + 20
# x = 25
x

25

# 식별연산

In [69]:
coffee_employee = "Brand"
orange_employee = "Brand"

print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)
id(coffee_employee), id(orange_employee)

True
True

(1983456850304, 1983456850304)

In [ ]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a


print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)
id()

a == b True
a == c True
a is b False
a is c True

# 멤버연산

In [71]:
fruits = ["사과", "바나나", "포도"]


print("사과" in fruits)  # True, 사과가 목록에 있기 때문이에요.
print("오렌지" not in fruits)  # True, 오렌지는 목록에 없기 때문이에요.

True
True

In [75]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'


print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False
print([1, 2] in b) # 출력: False
print('h' in c) # 출력: True
print('hello ' in c) # 출력: True

True
True
False
False
True
True

In [77]:
a = {'key1': 'value1', 'key2': 'value2'} #딕셔너리
b = {10, 10, 20}
print(10 in b) # 출력: True
print({10} in b) # 출력: False, 주의
print({10, 20} in b) # 출력: False, 주의

print('key1' in a) # 출력: True
print('value1' in a) # 출력: False
print(('key1', 'key2') in a) # 출력: False
# {'key1':'value1'} in a # error

True
False
False
True
False
False