# for문

In [2]:
print('1-1')
print('2-1')
print('3-1')

1-1
2-1
3-1

In [ ]:
for i in range(1, 100):
    print(f"{i}-1")

In [ ]:
# for 변수명 in 순회_가능한_객체 :
#     pass # 수행할_문장

In [6]:
for s in 'hello': # 순회 가능한 객체가 들어갑니다.
    print(f'현재 값은 {s} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [7]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [9]:
k = 100
for k in (1, 2, 3):
    print(k)
print(k)

1
2
3
3

In [10]:
books = ['Python', 'Java', 'C++']
for book in books:
    print(f'현재 책은 {book} 입니다.')

현재 책은 Python 입니다.
현재 책은 Java 입니다.
현재 책은 C++ 입니다.

In [11]:
s = '123qem213,dodad;,'
result = 0
for i in s:
    if i.isdigit():
        result += int(i)
print(result)

12

In [12]:
s = '010-1000?2000'
result = ''
for i in s:
    if i.isdigit():
        result += i
print(result)

01010002000

In [13]:
l = ['one', 'two', 'three']
for i in l:
    print(i)

one
two
three

In [ ]:
l = ['one', 'two', 'three']
for i in l:
    l.append('four')
    print(i)

In [15]:
for i, j in [[1, 2], [10, 20], [100, 200]]:
    print(i)
    print(j)
    print(i, j)

1
2
1 2
10
20
10 20
100
200
100 200

In [18]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}


for key, value in 단어_사전.items():
    print(f"{key}: {value}")

하나: one
둘: two
셋: three

In [ ]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}

for i in 단어_사전:
    value = 단어_사전[i]
    print(f"{i}: {단어_사전[i]}")
    value 연산하는 코드

하나: one
둘: two
셋: three

In [20]:
for i in range(5):
    print(i)

0
1
2
3
4

In [21]:
result = 0
for i in range(0, 11, 2):
    result += i
result

30

In [ ]:
result = 0
for i in range(101):
    result += i
result
sum(range(101))

5050

In [ ]:
for i in range(1, 4): # 1, 2, 3
    for j in range(1, 11): # 1 ~ 10
        print(f'{i}층 {j}번째 책')

In [ ]:
list_2 = [[0 for j in range(10)] for i in range(3)]
for i in list_2:
    for j in i:
        print(j)
    print()

In [ ]:
for i in range(2, 10): # 1 -> 2 ~ 9단까지의 반복
    print(f'---{i}단---')
    for j in range(1, 10): # 2 -> 각 단 수에서 1부터 9까지 곱을 반복
        print(f'{i} X {j} = {i * j}')

In [31]:
x = []

for i in range(1, 10):
  x.append(i)

print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [33]:
[i for i in range(1, 10)]

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [35]:
l = [i ** 2 for i in range(1, 10)]
print(l)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [36]:
l = []
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        l.append(i)
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [ ]:
l = [i for i in range(1, 101) if i % 3 == 0 or i % 5 == 0]
l

In [39]:
l = [i for i in range(1, 101) if i % 2 == 0]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
nums = [1, 2, 3, 4, 5]
#          리스트에 들어올 값(삼항 연산자)                                    반복부분     조건부분
result = [f'{x}는 3보다 큰 짝수' if x % 2 == 0 else f'{x}는 3보다 큰 홀수' for x in nums if x > 3]
print(result) # 출력: ['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [41]:
result = []
nums = [1, 2, 3, 4, 5]
for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
            result.append(f'{x}는 3보다 큰 홀수')
print(result)

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [43]:
nums = [1, 2, 3, 4, 5, 6]
result = [x for x in nums if x % 2 == 0 if x % 3 == 0]
result

nums = [1, 2, 3, 4, 5, 6]
result = [x for x in nums if x % 2 == 0 and x % 3 == 0]
result # 출력: [6]

[6]

In [44]:
def sumthingFunction(i): # 1
    if i % 100 == 0:
        return i
    else:
        return 0

l = [100, 200, 300, 101, 202, 303] # 2
#     요소 할당 부분        반복부분
l = [sumthingFunction(i) for i in l] # 3
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [45]:
{i: i**2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [47]:
skills = [
    ('a', 100),
    ('b', 200),
    ('c', 300),
    ('d', 400),
    ('e', 500)
]


for skill_name, skill_mana in skills:
    print(skill_name, skill_mana)

a 100
b 200
c 300
d 400
e 500

In [49]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for index, value in enumerate(영화누적관객수):
    print(index, value)

0 레미제라블
1 뷰티인사이트
2 매트릭스
3 인셉션
4 어거스트 러쉬

In [50]:
for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

# while문

In [ ]:
a = 1

while a < 10: # 10 < 10 -> False
	print(a) # 1, 2, 3, 4, 5, 6, 7, 8, 9
	a += 1 # a = 10

1
2
3
4
5
6
7
8
9

In [53]:
while True:
    x = input()
    if x == 'exit':
        break
    print(x)

안녕하세요
출입 완료

In [ ]:
i = 2
while i < 10 : # i 단수 -> 2 ~ 9
    j = 1
    while j < 10: # j 단수에 곱할 수 -> 1 ~ 9
        print(f'{i} X {j} = {i * j}')
        j += 1
    i += 1

# break, continue, pass 비교

In [ ]:
x = 0
while True:
    print(x)
    if x == 5:
        break
    x += 1

0
1
2
3
4
5

In [57]:
for i in range(2, 10):
    is_flag = False
    for j in range(1, 10):
        if j > 5:
            is_flag = True
            break
        print(f'{i} X {j} = {i*j}')
    if is_flag:
        break

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10

In [58]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5

In [ ]:
x = 0
while x < 5:
    x += 1
    # if x == 3:
    #     pass
    print(x)

1
2
3
4
5

In [ ]:
x = 0
while x < 10:
    print(x)
    if x == 5:
        continue
    x += 1

# 반복문 else

In [ ]:
for 변수 in 범위:
    pass # 반복 실행할 코드
else:
    pass # 반복문이 모두 실행되어 종료되고 실행할 코드

In [61]:
for i in range(100):
    print(f'{i} 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')

print('수고하셨습니다.')

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
5 물고기를 잡았습니다.
만선입니다. 물고기를 다 잡았습니다.
수고하셨습니다.

In [63]:
for i in range(5):
    print(f'{i} 물고기를 잡았습니다.')
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')
print('수고하셨습니다.')

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.
수고하셨습니다.

In [64]:
n = 0
while n < 5:
    print(f'현재 숫자는 {n}입니다.')
    n += 1
else:
    print('반복문을 종료합니다.')

현재 숫자는 0입니다.
현재 숫자는 1입니다.
현재 숫자는 2입니다.
현재 숫자는 3입니다.
현재 숫자는 4입니다.
반복문을 종료합니다.

In [ ]:
n = 0
while n < 5:
    print(f'현재 숫자는 {n}입니다.')
    n += 1
    if n > 3:
        break
else:
    print('반복문을 종료합니다.')

현재 숫자는 0입니다.
현재 숫자는 1입니다.
현재 숫자는 2입니다.
현재 숫자는 3입니다.

: