In [3]:
result = 5 + 3
print(result)

result = 3 + 2.5
print(result)

8
5.5

In [5]:
result = 15 + 4
print(result)

result = 4.6 + 2.54
print(result)

19
7.14

In [9]:
s1 = "Hello"
s2 = "World"
result = s1 + " " + s2
print(result)

Hello World

In [10]:
s1 = 'Hello'
s2 = 'hans'
result = s1 + ' ' + s2
print(result)

Hello hans

In [13]:
result = 7 - 2
print(result)

result = 10 - 3.5
print(result)

result = 5 - (-3)
print(result)

5
6.5
8

In [14]:
result = 3 * 4
print(result)

result = 5* 2.5
print(result)

12
12.5

In [16]:
result = 15 * 87
print(result)   

result = 42.5 * 11.9
print(result)

1305
505.75

In [18]:
result = "Ha" * 3
print(result)

HaHaHa

In [20]:
result = 'shit' * 5
print(result)

shitshitshitshitshit

In [ ]:
a = 10
b = 2
print(a / b) # / 는 실수(.0)로 출력 
print(a //b) # // 는 정수로 출력

5.0
5

In [23]:
a = 1954
b = 23
print(a / b)
print(a // b)

84.95652173913044
84

In [ ]:
a = -5
b = 2
print(a / b)  
print(a // b) # //연산은 내림으로 적용 실수(.0~)로 끝날땐 아래 정수로 출력

-2.5
-3

In [25]:
a = -13
b = 3
print(a / b)
print(a // b)

-4.333333333333333
-5

In [ ]:
10 % 3 # % 는 나누고 난 나머지 값을 출력

1

In [ ]:
33 % 2 # 33을 2로 나누면 몫이 16 나머지가 1이니까 1이 출력

1

In [ ]:
# '=='는 같다 라는 뜻
10 % 2 == 0 # 10 나누기 2 는 5 이지만 나머지가 0 이니까 0과 같다. 해서 True

True

In [ ]:
10 % 3 == 0 # 10 나누기 3 는 몫이 3이고 나머지가 1 이니까 0과 같지 않아 False

False

In [43]:
365 % 10 == 0

False

In [49]:
365 % 15 == 0

False

In [53]:
365 % 11== 0

False

In [54]:
10 ** 3

1000

In [55]:
145 ** 4

442050625

In [56]:
4 ** 0.5

2.0

In [61]:
50 ** 0.5

7.0710678118654755