### 셋(set) | 중복을 허용하지 않는 순서 없이 나열되는 자료형 (중복된 값은 하나만 출력)

In [1]:
my_set = {1, 2, 3, 3, 4, 4, 5}

print(my_set)

{1, 2, 3, 4, 5}

In [11]:
set = {1, 2, 3, 3, 2, 4, 5, 5, 4}

print(set)

{1, 2, 3, 4, 5}

In [49]:
# 셋 생성 | {} 중괄호 안에 쉼표로 구분해서 생성
            # 또한, set()로도 생성 가능

fruits = {'apple', 'banana', 'cherry'}
numbers = set([1, 2, 2, 3, 4, 4, 5])

print('과일 셋:', fruits)
print('숫자 셋:', numbers)

TypeError: 'list' object is not callable

In [44]:
person = {'bob', 'min', 'hans', 'hee'}
numbers = set([1, 2, 2, 3, 4, 5, 5])

print('사람 셋:', person)
print('숫자 셋:', numbers)

TypeError: 'list' object is not callable

In [56]:
# 셋의 특징 | 셋은 중복을 허용하지 않고, 순서가 없어 
# 인덱싱을 사용 할 수 없음

numbers = {1, 2, 3, 4, 5, 5, 4, 3, 2, 1}

print(numbers)

print(numbers[0])

{1, 2, 3, 4, 5}

TypeError: 'set' object is not subscriptable

In [59]:
# 셋 연산 | 셋은 수학의 집합 연산을 지원한다.
# - | : 합집합 (각 셋의 합)
# - & : 교집합 (각 셋의 겹치는 값)
# - - : 차집합 (각 셋의 겹치는 값을 뺀 나머지 값)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print('합집합:', set1 | set2)
print('교집합:', set1 & set2)
print('차집합:', set1 - set2)

합집합: {1, 2, 3, 4, 5, 6, 7, 8}
교집합: {4, 5}
차집합: {1, 2, 3}

In [65]:
fruits1 = {'mango', 'apple', 'banana', 'cherry'}
fruits2 = {'pineapple', 'tomato', 'mango', 'cherry'}

print(fruits1 | fruits2)
print(fruits1 & fruits2)  
print(fruits1 - fruits2)
print(fruits2 - fruits1)

{'apple', 'banana', 'cherry', 'mango', 'pineapple', 'tomato'}
{'mango', 'cherry'}
{'apple', 'banana'}
{'tomato', 'pineapple'}

In [ ]:
# 셋 수정 | 셋에 요소를 추가 하거나 제거할 수 있다.
# .add : 추가 
# .remove : 제거 

fruits = {'apple', 'banana', 'cherry'}

fruits.add('orange')
print('오렌지 추가 후:', fruits)

fruits.remove('banana')
print('바나나 제거 후:', fruits)

오렌지 추가 후: {'apple', 'orange', 'banana', 'cherry'}
바나나 제거 후 {'apple', 'orange', 'cherry'}

In [73]:
person = {'hans', 'choe', 'bob'}

person.add('shon')
print('shon 추가 후:', person)

person.remove('bob')
print('bob 제거 후:', person)

shon 추가 후: {'choe', 'bob', 'shon', 'hans'}
bob 제거 후: {'choe', 'shon', 'hans'}

In [80]:
# 셋 메서드 | 셋에서 자주 사용하느 메서드들
# .symmentric_difference() : 대칭 차집합
    # 각 셋의 중복된 값은 뺀 나머지 값
# .issubset() : 부분집합 
    # .이전의 셋의 값들이 ()의 셋 값에 포함되어 있는가?
        # (True/false)
# .isdisjoint() : 두 집합에 겹치는 요소가 있는가?
        # (True/false)

set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print('대칭 차집합:', set1.symmetric_difference(set2))
print('set1이 set2의 부분집합인가?:', set1.issubset(set2))
print('두 집합에 겹치는 요소가 없는가?:', set1.isdisjoint(set2))

대칭 차집합: {1, 2, 3, 6, 7, 8}
set1이 set2의 부분집합인가?: False
두 집합에 겹치는 요소가 없는가?: False

In [84]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
set3 = {6, 7, 8, 9, 10}

print(set1.symmetric_difference(set2))
print(set1.issubset(set2))
print(set1.isdisjoint(set2))
print(set1.isdisjoint(set3))

{6, 7, 8, 9, 10}
True
False
True