### 문제1
- 1부터 100까지 더하는 코드를 작성하세요. for를 사용해서 풀어주세요.

In [1]:
result = 0
for i in range(1, 101):
    result += i
print(result)

5050

### 문제2
- 아래 코드에서 나이의 평균을 구하는 코드를 작성하세요.
```python
data = [
  {
    "_id": "6019fd4354979ca26b8f91dc",
    "age": 26,
    "eyeColor": "green",
    "name": "Bender Allen",
    "gender": "male"
  },
  {
    "_id": "6019fd43db2951868889a0b4",
    "age": 27,
    "eyeColor": "blue",
    "name": "Jacobs Golden",
    "gender": "male"
  },
  {
    "_id": "6019fd438c0bf8e775c28536",
    "age": 27,
    "eyeColor": "brown",
    "name": "Grimes Oneal",
    "gender": "male"
  },
  {
    "_id": "6019fd43b68a7fd8b081ab26",
    "age": 40,
    "eyeColor": "blue",
    "name": "Melissa Joyce",
    "gender": "female"
  },
  {
    "_id": "6019fd436c1edc4757aabb9d",
    "age": 32,
    "eyeColor": "blue",
    "name": "Malone Bush",
    "gender": "male"
  },
  {
    "_id": "6019fd438eaf753918f55226",
    "age": 34,
    "eyeColor": "green",
    "name": "Davenport Hyde",
    "gender": "male"
  },
  {
    "_id": "6019fd43c35929ff95004109",
    "age": 20,
    "eyeColor": "blue",
    "name": "Shauna Blevins",
    "gender": "female"
  }
]
```

In [2]:
data = [
  {
    "_id": "6019fd4354979ca26b8f91dc",
    "age": 26,
    "eyeColor": "green",
    "name": "Bender Allen",
    "gender": "male"
  },
  {
    "_id": "6019fd43db2951868889a0b4",
    "age": 27,
    "eyeColor": "blue",
    "name": "Jacobs Golden",
    "gender": "male"
  },
  {
    "_id": "6019fd438c0bf8e775c28536",
    "age": 27,
    "eyeColor": "brown",
    "name": "Grimes Oneal",
    "gender": "male"
  },
  {
    "_id": "6019fd43b68a7fd8b081ab26",
    "age": 40,
    "eyeColor": "blue",
    "name": "Melissa Joyce",
    "gender": "female"
  },
  {
    "_id": "6019fd436c1edc4757aabb9d",
    "age": 32,
    "eyeColor": "blue",
    "name": "Malone Bush",
    "gender": "male"
  },
  {
    "_id": "6019fd438eaf753918f55226",
    "age": 34,
    "eyeColor": "green",
    "name": "Davenport Hyde",
    "gender": "male"
  },
  {
    "_id": "6019fd43c35929ff95004109",
    "age": 20,
    "eyeColor": "blue",
    "name": "Shauna Blevins",
    "gender": "female"
  }
]
result = sum([sample['age'] for sample in data]) / len(data)
print(result)

29.428571428571427

### 문제3
- 위 데이터를 관리할 User 클래스를 만들어주세요. 인스턴스들은 리스트로 관리됩니다.

In [10]:
class USER:  
  def __init__(self, data: dict):
    self._id = data.get("_id")
    self.age = data.get("age")
    self.eyecolor = data.get("eyeColor")
    self.name = data.get('name')
    self.gender = data.get('gender')

  def __str__(self):
    return f"USER({self._id}, {self.name}, {self.age}, {self.eyecolor})"
    

#인스턴스 생성 -> 인스턴스들은 리스트로 관리
total_user = [USER(sample) for sample in data]
for user in total_user:
  print(user)

USER(6019fd4354979ca26b8f91dc, Bender Allen, 26, green)
USER(6019fd43db2951868889a0b4, Jacobs Golden, 27, blue)
USER(6019fd438c0bf8e775c28536, Grimes Oneal, 27, brown)
USER(6019fd43b68a7fd8b081ab26, Melissa Joyce, 40, blue)
USER(6019fd436c1edc4757aabb9d, Malone Bush, 32, blue)
USER(6019fd438eaf753918f55226, Davenport Hyde, 34, green)
USER(6019fd43c35929ff95004109, Shauna Blevins, 20, blue)