In [ ]:
age = 33
name = "Benny"

In [ ]:
print(age, name)

In [ ]:
age_benny_2 = 33

In [ ]:
# 변수 이름은 숫자로 시작할 수 없습니다. 예를 들어 1ten / 100_test / 0은 변수 이름으로 사용할 수 없습니다.
1ten

In [ ]:
# 파이썬의 키워드(예: if, else, while 등)는 변수 이름으로 사용할 수 없습니다.
if = 10
else = 20
while = 30

In [ ]:
name = "benny"
Name = "Benny"
NAME = "BENNY"
print(name, Name, NAME)

In [ ]:
be nny = "my name"

In [ ]:
name = "Benny"
age = 33
gender = "male"

print(name, age, gender)

In [3]:
print(name, age, gender)

Benny 33 male

In [2]:
name = "Benny"
age = 33
gender = "male"

In [5]:
type(name)
type(age)

int

In [6]:
age + age

66

In [7]:
name + name

'BennyBenny'