# 형변환
## Python에서의 형변환

In [ ]:
월급 = input("월급을 입력하세요:") # 월급 200
연봉 = 월급 * 12
print(연봉) # 연봉?

200200200200200200200200200200200200

In [3]:
월급 = input("월급을 입력하세요:") # 월급 200
type(월급)
월급 = int(월급)
연봉 = 월급 * 12
print(연봉) # 연봉? 2400

2400

In [ ]:
월급 = "이백"
type(월급)
월급 = int(월급)
type(월급)
월급 = float(월급)
type(월급)

float