## 파이썬 내장함수 란?
### 파이썬에 미리 만들어진 함수를 '내장함수'라고 한다.
### 이 함수들은 별도의 def 나 설치 없이 사용이 가능하다.

In [ ]:
# print()는 화면에 텍스트를 출력하는 함수

print('출력하기')

출력하기

In [ ]:
# len()은 리스트,문자열 등의 길이를 알려주는 함수

fruits = ['사과', '바나나', '오렌지']
name = '파이썬'
len(fruits)
len(name)

3
3

In [22]:
# 형변환 함수 
# int() : 문자열을 정수로 바꿔주는 함수
number = int('10')
print(number + 5)

# float() : 문자열을 실수로 바꿔주는 함수
price = float("3.14")
print(price * 2)

# str() : 정수,실수열을 문자열로 바꿔주는 함수
age = 25
message = '제 나이는 ' + str(age) + '살 입니다.'
print(message)

15
6.28
제 나이는 25살 입니다.

In [27]:
number = int('184')
print(number + 3)

price = float('142.4')
print(price * 3)

total_price = 134500
message = '총 계산하실 금액은 ' + str(total_price) + '원 입니다.'
print(message)

187
427.20000000000005
총 계산하실 금액은 134500원 입니다.

In [33]:
# input() : 사용자로 부터 입력을 받는 함수 

name = input('이름을 입력하세요:')
print('안녕하세요, ' + name + ' 입니다.')

안녕하세요, 김현수 입니다.

In [35]:
name = input('당신의 이름은 무엇인가요?')
print('반갑습니다. ' + name + '님 어서오세요.')

반갑습니다. 님 어서오세요.

In [ ]:
# range() : 연속된 숫자를 생성 하는 함수 
# 주로 for 반복문과 함께 사용
# for문에서 사용하지 않을경우 리스트로 만들지 않으면 문자 그대로 출력하니, 
# 일반 사용시 list(range())로 사용 권장

# range에 첫번째 값은 어디서 부터 시작할지 이고,
#  두번째 값은 어디까지 생성 할 것인지 이고,
#  세번째 값은 몇개씩 건너 뛸 것 인가를 나타내며, 미 입력시 0 으로 인지한다.

range(10) # range(0, 10) 출력
list(range(1, 11)) # [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] 출력 범위는 -1을 해야한다
list(range(1, 11, 2)) # 하나를 더 쓰게 되면 쓴 숫자 만큼 증가된 값을 출력

[1, 3, 5, 7, 9]

In [73]:
range(5)
print(range(5))

list(range(5))
print(list(range(5)))

list(range(0,5))
print(list(range(0,5)))

list(range(1,6))
print(list(range(1,6)))

range(0, 5)
[0, 1, 2, 3, 4]
[0, 1, 2, 3, 4]
[1, 2, 3, 4, 5]

In [88]:
# sum() : 리스트의 합계를 구하는 함수
number = [1, 2, 3, 4, 5]
print(sum(number))

# max() : 리스트의 최댓값을 구하는 함수
max(number)

# min() : 리스트의 최소값을 구하는 함수
min(number)

15

1

In [96]:
number = [5, 3, 1, 11, 9, 7]
print(sum(number))

print(max(number))

print(min(number))

36
11
1