In [2]:
# 다차원 리스트
# 1차원 리스트
a = [100000, 2, 1, 3]
print(type(a))

a = list()
print(type(a))

a = list('leehojun') #형변환
print(type(a))
print(a)
print(a[0])

<class 'list'>
<class 'list'>
<class 'list'>
['l', 'e', 'e', 'h', 'o', 'j', 'u', 'n']
l

In [5]:
# 2차원 리스트
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 20, 30]]

print(type(a))

print(a[0])
print(a[1])
print(a[2])

print(a[0][0])
print(a[1][0])
print(a[2][0])

<class 'list'>
[1, 2, 3]
[11, 22, 33]
[10, 20, 30]
1
11
10

In [6]:
# 3차원 리스트
a = [[[1, 2], [1, 2], [1, 2]],
    [[10, 2], [1, 2], [1, 2]]]

print(a[0])
print(a[1])
print(a[1][0])
print(a[1][0][0])

[[1, 2], [1, 2], [1, 2]]
[[10, 2], [1, 2], [1, 2]]
[10, 2]
10

In [ ]:
# 기본적인 리스트 관련 내장함수
# 1차원
a = [1, 2, 3, 4, 5, 6, 7, 8]
print(max(a)) # 최댓값
print(min(a)) # 최솟값
print(sum(a)) # 전체값의 합

8
1
36

In [ ]:
# 2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 2000, 30]]
print(max(a))   # 각각의 가장 첫번째 값을 기준으로 출력
print(min(a))
# print(sum(a)) # 에러 발생
print(max(a, key=lambda x:x[1]))    # 각각의 두번째 값을 기준으로 비교하여, 해당 값을 가진 배열 출력
print(min(a, key=lambda x:x[1]))
# sum(a) error
sum(a, [])

[11, 22, 33]
[1, 2, 3]
[10, 2000, 30]
[1, 2, 3]

[1, 2, 3, 11, 22, 33, 10, 2000, 30]

In [ ]:
# range()
# 범위를 표현하는 함수
print(list(range(100)))
print(list(range(5, 10)))   # 인덱스 슬라이싱과 비슷

# print(list(range(start, stop, step)))
print(list(range(0, 101, 2))) #짝수
print(list(range(1, 101, 2))) #홀수

print(list(range(100, 1, -2)))  # 100부터 역순으로 짝수 출력

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[5, 6, 7, 8, 9]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [ ]:
# 중간고사 1.
student_score = {
    '홍의': 97,
    '원희': 60,
    '동해': 77,
    '변수': 79,
    '창현': 89,
}
print(sum(student_score.values())/len(student_score))

80.4

In [16]:
# 중간고사 2.
student_score = [
    [10, 20, 30], 
    [40, 50, 60], 
    [70, 80, 90]
]

scoreSum = 0
cnt = 0

for i in student_score:
    for j in i:
        scoreSum += j
        cnt += 1
        
print(scoreSum/cnt)

50.0

In [17]:
# 중간고사 3번
student_score = [
    [10, 20, 30], 
    [40, 50, 60], 
    [70, 80, 90]
]

cnt = 0

for i in student_score:
    for j in i:
        if j >= 50:
            cnt += 1

print(cnt)

5

In [19]:
# 중간고사 4번
# 딕셔너리

[{"이름": '홍길동',
"국어": 10,
"영어": 20,
"수학": 30}
, 
{"이름": '이호준',
"국어": 40,
"영어": 50,
"수학": 60}
, 
{"이름": '이준호',
"국어": 70,
"영어": 80,
"수학": 90}]

[{'이름': '홍길동', '국어': 10, '영어': 20, '수학': 30},
 {'이름': '이호준', '국어': 40, '영어': 50, '수학': 60},
 {'이름': '이준호', '국어': 70, '영어': 80, '수학': 90}]