In [ ]:
# 튜플

In [1]:
# 튜플 안에 다양한 타입의 데이터를 함께 저장 가능

z = (1, 'apple', 2.5, ['a', 'b'], (1, 2))

In [ ]:
# 변경가능한 자료형을 튜플과 같은 변경 불가능한 자료형 안에 넣는 것은 값의 변경이 이루어질 수 있으므로 좋은 선택이 아님.

In [2]:
t1 = () # tuple
t2 = (0,) # tuple 단일 값의 튜플을 사용할때 꼭 콤마를 넣어주세요!
t3 = (0) # int
t4 = (0.1) # float
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'float'>

In [3]:
# 튜플의 연산

tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple3)  # 출력: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [4]:
tuple1 = (1, 2, 3)
tuple2 = tuple1 * 3
print(tuple2)  # 출력: (1, 2, 3, 1, 2, 3, 1, 2, 3)

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [ ]:
# 튜플 인덱싱

t = (1, 2, 3, 4, 5)
print(t[0])  # 출력: 1

1

In [ ]:
# 튜플 슬라이싱

t = (1, 2, 3, 4, 5)
print(t[1:4])  # 출력: (2, 3, 4)

(2, 3, 4)

In [7]:
# count()

tuple1 = (1, 2, 3, 4, 3, 5)
print(tuple1.count(3))  # 출력: 2

2

In [8]:
# index()

tuple1 = (1, 2, 3, 4, 3, 5)
print(tuple1.index(3))  # 출력: 2

2