In [9]:
# 2.1 all, any
# arr = [1, 0, 3, 4, 5]
arr = [True, True, True, True, True]
all(arr)

# arr = [True, False, True, True, True]
# arr = [False, False, False, False, False]
# arr = [1, 0, 3, 4, 5]
arr = [-1, 0]
any(arr)

True

In [13]:
# 2.2 chr, ord
chr(65)
ord('A')
ord('하')

54616

In [15]:
int('D558', 16)

54616

In [ ]:
# 2.3 map
inp_data = input() # "40 80 60"
data_list = inp_data.split() # ["40", "80", "60"]
# for i in range(len(data_list)):
#     data_list[i] = int(data_list[i]) # ["40", "80", "60"] -> [40, 80, 60]
map_data = map(int, data_list)
# "40" -> int("40") -> 40
# "80" -> int("80") -> 80
# "60" -> int("60") -> 60
# map([40, 80, 60])
list_data = list(map_data) # [40, 80, 60]

In [20]:
N = int(input())
# N = 3
scores = input().split()
cnt = 0
# scores = ['40', '80', '60']
max_score = max(map(int, scores))
def new_score_func(score):
    global cnt
    cnt += 1
    score = int(score)
    return score / max_score * 100

new_scores = list(map(new_score_func, scores))
print(new_scores)
print("cnt:", cnt)

[50.0, 100.0, 75.0]
cnt: 3

In [21]:
N = int(input())
scores = input().split()
max_score = max(map(int, scores))
new_scores = list(map(lambda score: int(score) / max_score * 100, scores))
new_score_avg = sum(new_scores) / N
print(new_score_avg)

75.0

In [5]:
# 2.4 filter
# filter(조건 함수, 리스트 또는 튜플)
x = range(1, 101)
arr = []
for i in x:
    if i % 2 == 0:
        arr.append(i)
print(arr)
filtered_list = list(filter(lambda i: i % 2 == 0, x))
print(filtered_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [14]:
# 2.5 zip
x = "benny"
y = "garam"
idx = [0, 1, 2]
zipped = zip(x, y, idx)
list(zipped)

x = [2, 4, 8, 16, 32, 64, 128]
x_list = list(zip(x, x[1:], x[2:]))
# for i, j, k in x_list:
    # print(i, j, k)


# 리스트 길이가 같은 경우
print(list(zip([1, 2, 3], ['a', 'b', 'c'], strict=True)))

# 리스트 길이가 다른 경우
# print(list(zip([1, 2, 3], ['a', 'b'], strict=True)))

[(1, 'a'), (2, 'b'), (3, 'c')]

In [17]:
# 2.6 format
# format(값, '서식 지정자(format_spec)')
format(10000, ',')
print(format(123.4567, '.2f'))
print(format('Hello', '^9')) # 출력: '  Hello  '

123.46
  Hello

In [22]:
# 2.8.1 max, min
students = [
    {'이름': '가', '국어': 90, '영어': 72, '수학': 95},
    {'이름': '나', "국어": 80, '영어': 90, '수학': 91},
    {'이름': '다', "국어": 95, '영어': 73, '수학': 92}
]

max(students, key=lambda student: student['수학'])
# {'이름': '가', '국어': 90, '영어': 72, '수학': 95}

# min(순회할 수 있는 객체, 함수(key), 초깃값(default))
min([1, 2, 3, 4, 5]) # 출력 : 1
min([], default=0) # 출력: 0

students = [
    {'이름': '가', '국어': 90, '영어': 72, '수학': 95},
    {'이름': '나', "국어": 80, '영어': 90, '수학': 91},
    {'이름': '다', "국어": 95, '영어': 73, '수학': 92}
]

min(students, key=lambda student: student['수학'])

{'이름': '나', '국어': 80, '영어': 90, '수학': 91}

In [ ]:
# 2.8.2 sum
# sum(iterable, start=0)
arr = [1, 2, 3, 4, 5]
sum(arr, start=10)  # 출력: 25
multi_arr = [[1, 2], [3, 4], [5, 6]]
sum(multi_arr, [])
# [] + [1, 2] = [1, 2]
# [1, 2] + [3, 4] = [1, 2, 3, 4]
# [1, 2, 3, 4] + [5, 6] = [1, 2, 3, 4, 5, 6]
# sum(multi_arr) = [1, 2, 3, 4, 5, 6]

sum([1, 2, 10, 20, 100, 200])
# [1, 2, 10, 20, 100, 200]

[1, 2, 3, 4, 5, 6]

In [31]:
# 2.9 print, repr

"hello"
print(type("hello"))
type("hello")  # <class 'str'>

<class 'str'>

str

In [32]:
# 2.10.3 enumerate
for i, v in enumerate(['a', 'b', 'c'], 1):
    print(i, v)

1 a
2 b
3 c

In [40]:
# 2.11 sorted, reversed
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)
sorted(['21', '21', '12', '22', '53', '15'], key=lambda x:x[-1])

list(reversed('hello world'))
# 'hello world'[::-1]
print(type(range))

<class 'type'>