# for문

In [1]:
print('1-1')
print('2-1')
print('3-1')

1-1
2-1
3-1

In [ ]:
for i in range(1, 11) :
    print(f'{i}-1')

In [ ]:
# for 변수명 in 순회_가능한_객체 :
#    pass # 수행할_문장

In [2]:
for s in 'hello': # 순회 가능한 객체가 들어갑니다.
    print(f'현재 값은 {s} 입니다.')

현재 값은 h 입니다.
현재 값은 e 입니다.
현재 값은 l 입니다.
현재 값은 l 입니다.
현재 값은 o 입니다.

In [3]:
for x in (1, 2, 3, 4, 5):
    print(f'현재 값은 {x} 입니다.')
    # print('반복이 진행 중입니다.') # 주석을 풀어보세요.
# print('반복을 종료합니다.') # 주석을 풀어보세요.

현재 값은 1 입니다.
현재 값은 2 입니다.
현재 값은 3 입니다.
현재 값은 4 입니다.
현재 값은 5 입니다.

In [4]:
# 순회가능한 객체 1
i = iter(range(3))
print(next(i))
print(next(i))
print(next(i))
# print(next(i)) # StopIteration Error가 납니다.


# 이 애러는 지금 위니북스 환경에서는 개발자도구를 통해서만 확인할 수 있습니다.
# colab이나 python에서는 실행하는 즉시 확인을 할 수 있습니다.


# 순회가능한 객체 2
i = iter([10, 20, 30])
print(next(i))
print(next(i))
print(next(i))

0
1
2
10
20
30

In [5]:
k = 100
for k in (1, 2, 3):
    print(k)
print(k)

1
2
3
3

In [7]:
books = ['python', 'Java', 'C++']
for book in books:
    print(f'현재 책은 {book} 입니다.')

현재 책은 python 입니다.
현재 책은 Java 입니다.
현재 책은 C++ 입니다.

In [8]:
s = '010-1000?2000'
result = ''
for i in s:
    if i.isdigit():
        result += i
print(result)

01010002000

In [9]:
l = ['one', 'two', 'three']
for i in l:
    print(i)

one
two
three

In [11]:
단어_사전 = {
    '하나' : 'one',
    '둘' : 'two',
    '셋' : 'three',
}


for key, value in 단어_사전:
    print(f"{i}: {단어_사전[i]}")
    value 연산하는 코드

SyntaxError: invalid syntax (2886441113.py, line 10)

In [12]:
for i in range(5):
    print(i)

0
1
2
3
4

In [13]:
result = 0
for i in range(0, 11, 2):
    result += i
result # 결과: 30

30

In [14]:
n = 100
result = (n + 1) * n / 2
result

5050.0

In [15]:
for i in range(1, 4):
    for j in range(1, 11):
        print(f'{i}층 {j}번째 책')

1층 1번째 책
1층 2번째 책
1층 3번째 책
1층 4번째 책
1층 5번째 책
1층 6번째 책
1층 7번째 책
1층 8번째 책
1층 9번째 책
1층 10번째 책
2층 1번째 책
2층 2번째 책
2층 3번째 책
2층 4번째 책
2층 5번째 책
2층 6번째 책
2층 7번째 책
2층 8번째 책
2층 9번째 책
2층 10번째 책
3층 1번째 책
3층 2번째 책
3층 3번째 책
3층 4번째 책
3층 5번째 책
3층 6번째 책
3층 7번째 책
3층 8번째 책
3층 9번째 책
3층 10번째 책

In [16]:
list_2 = [[0 for j in range(10)] for i in range (3)]
for i in list_2:
    for j in i:
        print(j)
    print()

0
0
0
0
0
0
0
0
0
0

0
0
0
0
0
0
0
0
0
0

0
0
0
0
0
0
0
0
0
0

In [18]:
for i in range(2, 10): # 1 -> 2 ~ 9단까지의 반복
    print(f'---{i}단---')
    for j in range(1, 10): # 2 -> 각 단 수에서 1부터 9까지 곱을 반복
        print(f'{i} X {j} = {i * j}')

---2단---
2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
---3단---
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
---4단---
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
---5단---
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
---6단---
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
---7단---
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
---8단---
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
---9단---
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

In [19]:
x = []


for i in range(1, 10):
  x.append(i)


print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# step1 list안에 for문을 가져옵니다.
[for i in range(1, 10)]
 
# step2 append 항목을 맨 앞으로 가져옵니다.
a = [i for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]
b = [i*2 for i in range(1, 10)] # 출력: [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
l = [i*2 for i in range(1, 10)]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [21]:
l = []
for i in range(1, 100):
    if i % 3 == 0 or i % 5 == 0:
        l.append(i)
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [22]:
l = [i for i in range(1, 100) if i % 3 == 0 or i % 5 == 0]
print(l)

[3, 5, 6, 9, 10, 12, 15, 18, 20, 21, 24, 25, 27, 30, 33, 35, 36, 39, 40, 42, 45, 48, 50, 51, 54, 55, 57, 60, 63, 65, 66, 69, 70, 72, 75, 78, 80, 81, 84, 85, 87, 90, 93, 95, 96, 99]

In [23]:
l = [i for i in range(1, 101) if i % 2 == 0]
print(l)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [24]:
nums = [1, 2, 3, 4, 5]
result = [f'{x}는 3보다 큰 짝수' if x % 2 == 0 else f'{x}는 3보다 큰 홀수' for x in nums if x > 3]
print(result) # 출력: ['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [25]:
result = []
nums = [1, 2, 3, 4, 5]
for x in nums:
    if x > 3:
        if x % 2 == 0:
            result.append(f'{x}는 3보다 큰 짝수')
        else:
            result.append(f'{x}는 3보다 큰 홀수')
print(result)

['4는 3보다 큰 짝수', '5는 3보다 큰 홀수']

In [27]:
def sumthingFunction(i): # 1
    if i % 100 == 0:
        return i
    else:
        return 0


l = [100, 200, 300, 101, 202, 303] # 2
#      요소 할당 부분            반복부분
l = [sumthingFunction(i) for i in l] # 3
l # 출력: [100, 200, 300, 0, 0, 0]

[100, 200, 300, 0, 0, 0]

In [28]:
{i: i**2 for i in range(5)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [29]:
skills = [
    ('a', 100),
    ('b', 200),
    ('c', 300),
    ('d', 400),
    ('e', 500)
]


for skill_name, skill_mana in skills:
    print(skill_name, skill_mana)

a 100
b 200
c 300
d 400
e 500

In [30]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i in enumerate(영화누적관객수):
    print(i)


for i, j in enumerate(영화누적관객수, 1):
    print(f'누적관객수 {i}위! {j}!')

(0, '레미제라블')
(1, '뷰티인사이트')
(2, '매트릭스')
(3, '인셉션')
(4, '어거스트 러쉬')
누적관객수 1위! 레미제라블!
누적관객수 2위! 뷰티인사이트!
누적관객수 3위! 매트릭스!
누적관객수 4위! 인셉션!
누적관객수 5위! 어거스트 러쉬!

In [31]:
영화누적관객수 = ['레미제라블', '뷰티인사이트', '매트릭스', '인셉션', '어거스트 러쉬']
for i, j in enumerate(영화누적관객수, 100):
    print(f'누적관객수 {i}위! {j}!')

누적관객수 100위! 레미제라블!
누적관객수 101위! 뷰티인사이트!
누적관객수 102위! 매트릭스!
누적관객수 103위! 인셉션!
누적관객수 104위! 어거스트 러쉬!

# while문

In [ ]:
a = 1 


while a < 10: # 2 < 10 -> True
	print(a) # 1, 2, 3, 4, 5, 6, 7, 8
    a += 1 # a = 8

1
2
3
4
5
6
7
8
9

In [ ]:
while True :
    print('무한 반복 중...')

In [ ]:
while True:
    x = input()
    if x == 'exit':
        break
    print(x)

In [1]:
i = 2
while i < 10 :
    j = 1
    while j < 10:
        print(f'{i} X {j} = {i * j}')
        j += 1
    i += 1

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
2 X 6 = 12
2 X 7 = 14
2 X 8 = 16
2 X 9 = 18
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
3 X 6 = 18
3 X 7 = 21
3 X 8 = 24
3 X 9 = 27
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
4 X 6 = 24
4 X 7 = 28
4 X 8 = 32
4 X 9 = 36
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
6 X 6 = 36
6 X 7 = 42
6 X 8 = 48
6 X 9 = 54
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
8 X 6 = 48
8 X 7 = 56
8 X 8 = 64
8 X 9 = 72
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45
9 X 6 = 54
9 X 7 = 63
9 X 8 = 72
9 X 9 = 81

# break, continue, pass 비교

In [2]:
x = 0
while x < 10:
    print(x)
    if x == 5:
        break
    x += 1

0
1
2
3
4
5

In [4]:
for i in range(2, 10):
    is_flag = False
    for j in range(1, 10):
        if j > 5:
            break
        print(f'{i} X {j} = {i*j}')

2 X 1 = 2
2 X 2 = 4
2 X 3 = 6
2 X 4 = 8
2 X 5 = 10
3 X 1 = 3
3 X 2 = 6
3 X 3 = 9
3 X 4 = 12
3 X 5 = 15
4 X 1 = 4
4 X 2 = 8
4 X 3 = 12
4 X 4 = 16
4 X 5 = 20
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
6 X 1 = 6
6 X 2 = 12
6 X 3 = 18
6 X 4 = 24
6 X 5 = 30
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
8 X 1 = 8
8 X 2 = 16
8 X 3 = 24
8 X 4 = 32
8 X 5 = 40
9 X 1 = 9
9 X 2 = 18
9 X 3 = 27
9 X 4 = 36
9 X 5 = 45

In [5]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        continue
    print(x)

1
2
4
5

In [6]:
x = 0
while x < 5:
    x += 1
    if x == 3:
        pass
    print(x)

1
2
3
4
5

# 반복문 else

In [ ]:
for 변수 in 범위:
    pass # 반복 실행할 코드
else:
    pass # 반복문이 모두 실행되어 종료되고 실행할 코드

In [7]:
for i in range(100):
    print(f'{i} 물고기를 잡았습니다.')
    if i == 5:
        print('만선입니다. 물고기를 다 잡았습니다.')
        break
else:
    print('아직 여유가 좀 있지만, 물고기가 더 없는 것 같으니 이정도로 만족하고 돌아갑시다.')


print('수고하셨습니다.')

0 물고기를 잡았습니다.
1 물고기를 잡았습니다.
2 물고기를 잡았습니다.
3 물고기를 잡았습니다.
4 물고기를 잡았습니다.
5 물고기를 잡았습니다.
만선입니다. 물고기를 다 잡았습니다.
수고하셨습니다.

In [8]:
# 단순화 시키긴 했으나 실제 아래와 같이 만듭니다.
class 게시물설계도: # 클래스
    _id = int()
    title = str()
    contents = str()
    author = str()
    create_time = str()
    update_time = str()
    view_count = int()
    last_connect_location = str()
    last_connect_time = str()
 
    def __str__(self): # 매직메서드
        ...(생략)
 
    def change_update_time(): # 메서드
        ...(생략)
 
게시물1 = 게시물설계도() # 인스턴스
게시물2 = 게시물설계도() # 인스턴스

<>:14: SyntaxWarning: 'ellipsis' object is not callable; perhaps you missed a comma?
<>:17: SyntaxWarning: 'ellipsis' object is not callable; perhaps you missed a comma?
C:\Users\kt438\AppData\Local\Temp\ipykernel_8860\1391998309.py:14: SyntaxWarning: 'ellipsis' object is not callable; perhaps you missed a comma?
  ...(생략)
C:\Users\kt438\AppData\Local\Temp\ipykernel_8860\1391998309.py:17: SyntaxWarning: 'ellipsis' object is not callable; perhaps you missed a comma?
  ...(생략)

In [9]:
class Car: # 차에 설계 도면 또는 차 공장, 클래스
    count = 0         # 멤버 또는 애트리뷰트
    max_speed = 300   # 멤버 또는 애트리뷰트
    max_people = 5    # 멤버 또는 애트리뷰트


    def start(self): # 메서드
        print('차가 출발합니다!')


    def stop(self): # 메서드
        print('차가 멈췄습니다!')


# 공장에서 생산된 자동차 modelx, modely 인스턴스
modelx = Car() # 인스턴스 = 클래스()
modely = Car()


modelx.start()
modelx.stop()

차가 출발합니다!
차가 멈췄습니다!

In [10]:
print(type(int))
print(type(float))
print(type(bool))
print(type(list))
print(type(dict))
print(type(tuple))

<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>
<class 'type'>

In [11]:
isinstance(modelx, Car)

True

In [12]:
x = 3
isinstance(x, int) # True

True

In [13]:
hero = {
    'name': 'Jun',
    'hp': 100,
    'mp': 100,
    'power': 30,
    'drop_rate': 0,
    'attack': lambda: f'{hero["power"]}에 파워로 공격하였습니다.',
}


print(hero['hp'])
print(hero['attack']())

100
30에 파워로 공격하였습니다.

In [ ]:
- class Character => Licat(주인공), Lion(빌런), Mob1(몬스터), Mob2(몬스터)
- class Post => 게시물1, 게시물2, 게시물3...
- class Dot => 점1, 점2, 점3...
- class User => 유저1, 유저2, 유저3...
- class Comment => 댓글1, 댓글2, 댓글3...
- class Product => 상품1, 상품2, 상품3...
- class Restaurant => 음식점1, 음식점2, 음식점3...
- class Class => 강의1, 강의2, 강의3...
- class Teacher => 강사1, 강사2, 강사3...

# 클래스 변수와 인스턴스 변수

In [16]:
class Car:
    # 클래스 변수의 위치
    max_speed = 300
    max_people = 5


modelx = Car()
print(Car.max_speed)
print(modelx.max_speed)

300
300

In [17]:
class Car:
    # 클래스 변수의 위치
    max_speed = 300
    max_people = 5


modelx = Car()
modely = Car()


modely.max_speed = 500


print(Car.max_speed)
print(modelx.max_speed)
print(modely.max_speed)

300
300
500

In [18]:
class Car:
    # 클래스 변수의 위치
    max_speed = 300
    max_people = 5


modelx = Car()
modely = Car()


Car.max_speed = 500


print(Car.max_speed)
print(modelx.max_speed)
print(modely.max_speed)

500
500
500

# 매직 메서드

In [19]:
class Point:


    def __init__(self, x, y):
        self.x = x
        self.y = y


    def __add__(self, other):
        print(self.x, self.y)
        return Point((self.x + other.x), (self.y + other.y))




dot1 = Point(10, 20)
dot2 = Point(20, 30)


dot3 = dot1 + dot2
print(dot3.x, dot3.y) # 출력: 30 50

10 20
30 50

In [20]:
class Matrix:


    def __init__(self, value):
        self.value = value


    def __add__(self, other):
        result = []
        for i in range(len(self.value)):
            result.append(self.value[i] + other.value[i])
        return result


    def __mul__(self, other):
        if isinstance(other, int):
            return [i*other for i in self.value]
        raise TypeError('int형 외에 곱을 허락하지 않습니다!')


m1 = Matrix([10, 20, 30])
m2 = Matrix([20, 30, 40])


print(m1 + m2) # 출력: [30, 50, 70]
print(m1 * 3) # 출력: [30, 60, 90]
# print(m1 * [1, 2, 3]) # error

[30, 50, 70]
[30, 60, 90]

In [ ]:
class Counter:
    def __init__(self):
        self.count = 0


    def __call__(self):
        self.count += 10
        print(f'현재 count 값: {self.count}')


    def __getitem__(self, key):
        return key*10


# 객체 생성
counter = Counter()


# 객체를 직접 호출합니다. 이때 __call__ 메서드가 실행됩니다.
counter()  # 출력: 현재 count 값: 10
counter()  # 출력: 현재 count 값: 20
counter()  # 출력: 현재 count 값: 30


counter[5] # 출력: 50

# 상속

In [21]:
class Car(object):
    maxSpeed = 300
    maxPeople = 5


    def move(self):
        print('출발하였습니다.')


    def stop(self):
        print('멈췄습니다.')


class HybridCar(Car):
    battery = 1000
    batteryKM = 300


class ElectricCar(HybridCar):
    battery = 2000
    batteryKM = 600


modelx = HybridCar()
electricCarModely = ElectricCar()
print(modelx.maxSpeed)
print(electricCarModely.maxSpeed)
print(electricCarModely.battery)
electricCarModely.move()

300
300
2000
출발하였습니다.

In [22]:
class Character:
    최대속력 = 100
    최대레벨 = 50
 
    def __init__(self, name, hp, attack, lv):
        self.이름 = name
        self.체력 = hp
        self.공격력 = attack
        self.레벨 = lv
        self.속력 = 1
 
    def move(self):
        print(f'{self.이름}이(가) {self.속력}의 이동속도로 움직였습니다.')
 
    def attack(self):
        print(f'{self.이름}이(가) {self.공격력}의 데미지로 공격했습니다.')
 
class Mob(Character):
    def __init__(self, name, hp, attack, lv, droprate, dropitem):
        super().__init__(name, hp, attack, lv)
        self.드랍률 = droprate
        self.드랍아이템 = dropitem
 
# 위 코드는 아래와 같은 기능입니다.
# class Mob(Character):
#     def __init__(self, name, hp, attack, lv, droprate, dropitem):
#         self.이름 = name
#         self.체력 = hp
#         self.공격력 = attack
#         self.레벨 = lv
#         self.드랍률 = droprate
#         self.드랍아이템 = dropitem
#         self.속력 = 1
 
class Hero(Character):
    def __init__(self, name, hp, attack, lv, skills, items, missions):
        super().__init__(name, hp, attack, lv)
        self.스킬 = skills
        self.아이템 = items
        self.미션 = missions
 
    def use_skill(self, skill):
        if skill in self.스킬:
            print(f'{self.이름}이(가) {skill} 스킬을 사용했습니다.')
        else:
            print(f'{skill} 스킬을 가지고 있지 않습니다.')

# 다중 상속

In [ ]:
class Parent1:
    pass
 
class Parent2:
    pass
 
class GrandChild(Child):
    pass

In [ ]:
class Parent1:
    pass
 
class Parent2:
    pass
 
class Child(Parent1, Parent2):
    pass

In [23]:
class A:
    def method(self):
        print("A method")


class B(A):
    def method(self):
        print("B method")


class C(A):
    def method(self):
        print("C method")


class D(B, C):
    pass


obj = D()
print(D.mro()) # 출력: [<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]
obj.method()  # 출력: B method

[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]
B method

In [24]:
class Car(object):
    pass


class HybridCar(Car):
    pass


class ElectricCar(HybridCar):
    pass


class HybridElectricCar(HybridCar, ElectricCar):
    pass


modelz = HybridElectricCar()

TypeError: Cannot create a consistent method resolution order (MRO) for bases HybridCar, ElectricCar

# 클래스 심화

In [25]:
class MyClass:
    count = 0


    @classmethod
    def increment(cls):
        cls.count += 1


MyClass.increment()
print(MyClass.count)  # 출력: 1

1

In [26]:
class Person:
    def __init__(self, first_name, last_name):
        self._first_name = first_name
        self._last_name = last_name


    @property
    def full_name(self):
        return f'{self._first_name}{self._last_name}'


licat = Person('li', 'cat')
print(licat._first_name)
print(licat._last_name)
print(licat.full_name)

li
cat
licat

In [27]:
class Person:
    def __init__(self, name):
        self.name = name
        self._age = 0


    @property
    def age(self):
        return self._age


    @age.setter
    def age(self, value):
        if value < 0:
            raise ValueError("나이는 음수일 수 없습니다.")
        self._age = value


# 사용 예제
person = Person("홍길동")


# age 속성 설정
person.age = 25
print(f"{person.name}의 나이는 {person.age}세입니다.")

홍길동의 나이는 25세입니다.

# 메서드 오버라이딩

In [30]:
class Animal:
    def sound(self):
        print("기본 동물 울음 소리, 악!")

class Dog(Animal):
    def sound(self):
        print("왈왈!")
 
class Cat(Animal):
    def sound(self):
        print("냐옹!")


dog = Dog()
cat = Cat()

dog.sound()
cat.sound()
Animal().sound() # 기본 동물 울음 소리, 악!

class Bird(Animal):
    def sound(self):
        super().sound()
        print("짹짹!")

왈왈!
냐옹!
기본 동물 울음 소리, 악!

In [31]:
class Person:
    def __init__(self, name):
        self.name = name


class Student(Person):
    def __init__(self, name, student_id):
        super().__init__(name)  # 부모 클래스의 __init__ 메서드 호출
        self.student_id = student_id


s = Student("Alice", "S12345")
print(s.name)        # 출력: Alice
print(s.student_id)  # 출력: S12345

Alice
S12345

# 추상 클래스와 인터페이스

In [32]:
from abc import ABC, abstractmethod


class AbstractClassExample(ABC):


    @abstractmethod
    def do_something(self):
        pass


class Person(AbstractClassExample):


    def __init__(self, name):
        self.name = name


    def print_name(self):
        print(f'제 이름은 {self.name}입니다.')


hojun = Person('hojun')
hojun.print_name()

TypeError: Can't instantiate abstract class Person without an implementation for abstract method 'do_something'

# 비공개 속성

In [33]:
class MyClass:
    __a = 10
    _a = 100
    b = 20


    def __init__(self, c, d):
        self.__c = c
        self.d = d


c = MyClass(30, 40)
# c.__a #error
# c._a # 출력: 100
# c.b # 출력: 20
# c.__c # error
c.d # 출력: 40

40

In [34]:
print(c._MyClass__c)  # 출력: 30

30

# 상수 선언

In [ ]:
from enum import Enum


class Color(Enum):
    RED = 1
    GREEN = 2
    BLUE = 3



for color in Color:
    print(color)

Color.RED
Color.GREEN
Color.BLUE