In [18]:
x = 'hello'
y = "Python"
print(x,y) #결과는 두 변수사이는 저절로 띄어져서 출력된다
print(type(x), type(y))

hello Python
<class 'str'> <class 'str'>

In [19]:
a = '''
안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
'''

b = """
안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.
"""

print(a)
print(b)

안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.


안녕하세요.
저는 위니브의 대표 이호준입니다.
파이썬 참 좋아요.
여러분 정말 잘 선택하셨어요.

In [20]:
x = 'hello'
y = 'world'
print(x + y) #print(x,y)와의 차이는 x와 y사이에 띄어쓰기가 없어진다는것

helloworld

In [21]:
name = '이호준'
age = 30
print(f'제 이름은 {name}이고, 나이는 {age}세입니다')

제 이름은 이호준이고, 나이는 30세입니다

In [22]:
s = "위니브 월드." #인덱싱을 하더라도 ''와 ""구분하지 않느다
print(s[0])
print(s[-1])

위
.

In [23]:
s = 'weniv CEO licat' 
print(1, s[0:5]) # 출력 : weniv
print(2, s[6:]) # 출력 : CEO licat
print(3, s[:]) # 출력 : weniv CEO licat
print(4, s[::-1]) # 출력 : tacil OEC vinew
print(5, s[::2]) # 출력 : wnvCOlct #step은 기본적으로 1이며 바로 앞 :과 함께 삭제 가능하다

1 weniv
2 CEO licat
3 weniv CEO licat
4 tacil OEC vinew
5 wnvCOlct

In [24]:
s = 'weniv CEO licat'
print(1, s[:5]) #s[0:5]로 입력해도 결과값은 같다
print(2, s[6:])
print(3, s[:])
print(4, s[::-1])
print(5, s[0::2]) #s[::2]로 입력해도 결과값은 같다

1 weniv
2 CEO licat
3 weniv CEO licat
4 tacil OEC vinew
5 wnvCOlct

In [25]:

s = 'weniv CEO licat'
print (s.lower()) #print()괄호사이에 변수명은 ''없이 써주는 것은 같으나 그 변수명의 내용을 소문자로 바꿔주므로 s뒤에 .을 붙이고 lower()함수를 써준다

weniv ceo licat

In [26]:
s = 'weniv CEO licat'
print(s.upper())

WENIV CEO LICAT

In [27]:
s = 'weniv CEO licat'
print(s.find('CEO')) #문자열을 찾아주는 method
print(s.index('CEO'))

6
6

In [28]:
s = 'weniv CEO licat'
print(s.find('CTO'))

-1

In [30]:
s = 'weniv CEO licat'
print(s.index('CTO'))

ValueError: substring not found

In [32]:
s = 'weniv CEO licat'
s.count('i') #문자열이나 숫자를 셀 때 사용
s.count('w')

1

In [ ]:
s = 'weniv CEO licat'   
s.split() #공백을 기준으로 문자열 나누기  #결과값은 저절로 ''붙여서나옴

['weniv', 'CEO', 'licat']

In [34]:
s = 'weniv-CEO-licat weniv-COO-mura'
s.split('-') #-을 기준으로 문자열 나누기

['weniv', 'CEO', 'licat weniv', 'COO', 'mura']

In [35]:
s = 'weniv-CEO-licat'
s.split('-')

['weniv', 'CEO', 'licat']

In [38]:
s = ['weniv' ,'CEO' , 'licat']
'-'.join(s)

'weniv-CEO-licat'

In [49]:
name = 'licat'
age = 30
print('제 이름은 {}이고, 나이는 {}세입니다.'. format(name, age))

제 이름은 licat이고, 나이는 30세입니다.

In [51]:
name = 'licat'
age = 29

print('제 이름은 {}이고, 나이는 {}살입니다.' .format(name, age))

제 이름은 licat이고, 나이는 29살입니다.

In [ ]:
print("Hello\nWorld!") # Hello와 World! 사이에 줄바꿈이 일어납니다.
print("Hello\tWorld!") # Hello와 World! 사이에 탭 간격이 생깁니다.
print("Hello\rWorld!") # 커서를 현재 줄의 처음으로 이동합니다
print("She said, \"Hello World!\"") # 큰따옴표 내부에 문자열을 출력합니다.
print('She said, \'Hello World!\'') # 작은따옴표 내부에 문자열을 출력합니다.
print("Backslash: \\") # 백슬래시를 출력합니다.

Hello
World!
Hello	World!
World!
She said, "Hello World!"
She said, 'Hello World!'
Backslash: \