In [3]:
월급 = input("월급을 입력하세요:")
연봉 = int(월급) * 12
print(연봉)

ValueError: invalid literal for int() with base 10: ''