In [1]:
x = [1, 2, 3]
y = ['apple', 'banana', 'cherry']
z = [1, 'hello', True]
print(x)
print(y)
print(z)

[1, 2, 3]
['apple', 'banana', 'cherry']
[1, 'hello', True]

In [2]:
x = [1, 2, 3]
y = ['apple', 'banana', 'cherry']
z = [1, 'hello', True]
print(x, y, z )

[1, 2, 3] ['apple', 'banana', 'cherry'] [1, 'hello', True]

In [ ]:
fruits = ['apple', 'banana', 'cherry']
print(fruits[0])
print(fruits[1])
print(fruits[2]) #결과값을 보면 리스트안에 있는 것과 달리 ''없이 출력된다

apple
banana
cherry

In [5]:
fruits = ['apple', 'banana', 'cherry', 'orange']
print(fruits[1:3])

['banana', 'cherry']

In [6]:
fruits = ['apple', 'banana', 'cherry']
fruits[1] = 'kiwi'
print(fruits)

['apple', 'kiwi', 'cherry']

In [7]:
fruits = ['apple', 'banana', 'cherry']
fruits.append('orange')
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [9]:
fruits = ['apple', 'banana', 'cherry']
fruits.remove('banana')
print(fruits)

['apple', 'cherry']

In [10]:
fruits = ['apple', 'banana', 'cherry']
print(len(fruits))  # 리스트의 길이 출력

3

In [12]:
fruits = ['apple', 'banana', 'cherry']
fruits.sort()
print(fruits)  # 정렬된 리스트 출력

['apple', 'banana', 'cherry']

# 튜플

In [1]:
my_tuple = (1, 'hello', 3.14)
print(my_tuple)

(1, 'hello', 3.14)

In [1]:
x = (1, 2, 3)
y = ('apple', 'banana', 'cherry')
print(x, y)

(1, 2, 3) ('apple', 'banana', 'cherry')

In [2]:
fruits = ('apple', 'banana', 'cherry')
print("첫 번째 과일:", fruits[0])
print("두 번째 과일:", fruits[1])
print("마지막 과일:", fruits[-1])

첫 번째 과일: apple
두 번째 과일: banana
마지막 과일: cherry

In [3]:
fruits = ('apple', 'banana', 'cherry')
print("첫 번째 과일 :", fruits[0])
print("두 번째 과일 :", fruits[1])
print("마지막 과일 :", fruits[-1])

첫 번째 과일 : apple
두 번째 과일 : banana
마지막 과일 : cherry

In [5]:
numbers = (0,1,2,3,4,5,6,7,8,9)
print("처음부터 세번째까지 :", numbers[:3])
print("4번째부터 7번째까지 :", numbers[3:7])
print("짝수번째 항목들 :", numbers[::2])

처음부터 세번째까지 : (0, 1, 2)
4번째부터 7번째까지 : (3, 4, 5, 6)
짝수번째 항목들 : (0, 2, 4, 6, 8)

In [6]:
numbers = (3, 1, 4, 1, 5, 9, 2, 6, 5, 3)

print("숫자 1의 개수:", numbers.count(1))  # 특정 항목의 개수 세기
print("숫자 5의 첫 번째 위치:", numbers.index(5))  # 특정 항목의 인덱스 찾기

숫자 1의 개수: 2
숫자 5의 첫 번째 위치: 4

# 딕셔너리

In [9]:
my_dict = {'name': 'licat', 'age': 30, 'city': 'New York'}
print(my_dict)

{'name': 'licat', 'age': 30, 'city': 'New York'}

In [10]:
person = {'name': 'licat', 'age': 25, 'height': 165.5}
print(person)

{'name': 'licat', 'age': 25, 'height': 165.5}

In [13]:
person = {'name': 'licat', 'age': 25, 'height': 165.5}
print("이름:", person)
print("나이:", person['age'])

이름: {'name': 'licat', 'age': 25, 'height': 165.5}
나이: 25

In [12]:
person = {'name': 'Alice', 'age': 25}
person['age'] = 26  # 값 수정
person['city'] = 'Seoul'  # 새로운 키-값 쌍 추가
print(person)

{'name': 'Alice', 'age': 26, 'city': 'Seoul'}

In [14]:
person = {'name': 'Alice', 'age': 25, 'city': 'Seoul'}

print("키 목록:", person.keys())
print("값 목록:", person.values())
print("키-값 쌍 목록:", person.items())

# get() 메서드로 안전하게 값 가져오기
print("직업:", person.get('job', '정보 없음'))

키 목록: dict_keys(['name', 'age', 'city'])
값 목록: dict_values(['Alice', 25, 'Seoul'])
키-값 쌍 목록: dict_items([('name', 'Alice'), ('age', 25), ('city', 'Seoul')])
직업: 정보 없음