# 구글 코랩과 위니북스 사용법

# 주석

In [1]:
# 이것은 주석입니다.
print('Hello, World 1!') # 이것도 주석입니다.
# print('Hello, World 2!')

Hello, World 1!

In [ ]:
'''
여러 줄
주석을
작성할 수
있었습니다.
'''

'\n여러 줄\n주석을\n작성할 수\n있었습니다.\n'

In [ ]:
"""
이것도
여러 줄
주석이
사용
가능했습니다.
"""

"\n이것도\n여러 줄\n주석이\n'사용\n가능했습니다.\n"

In [4]:
# 이것은 benny라고 출력하는 코드입니다.
print("benny")
# 이것은  gyeong 라고 출력하는 코드입니다.
print("gyeong")

benny
gyeong

In [ ]:
def add(a, b):
    '''
    이 함수는 논리 연산을 기반으로 수행됩니다.
    '''
    return a and b

# 입력과 출력

In [7]:
age = input('나이를 입력해주세요.')
print(age + age)
print(age * 2)

In [9]:
'출력'
'출력'

'출력'

In [15]:
print("hello", "world", "!!")
print("hello", "world", "!!", sep="")
print("hello", "world", "!!", sep="-")
print("hello", "world", "!!", sep=" ")
print("010", "8132", "0216", sep="-", end='???')

hello world !!
helloworld!!
hello-world-!!
hello world !!
010-8132-0216???

In [16]:
name = "Licat"
age = 10
print("이름: %s, 나이: %d" % (name, age))

이름: Licat, 나이: 10

In [ ]:
name = "Licat"
age = 10
print("이름: {}, 나이: {}".format(name, age))

In [17]:
name = "Licat"
age = 10
print(f"이름: {name * 2}, 나이: {age}")

이름: LicatLicat, 나이: 10

In [18]:
class Character:
    def __str__(self):
        return 'a'


    def __repr__(self):
        return 'b'


hero = Character()
print(hero)
hero

a

b

In [19]:
a = None
a
print(a)

None