In [ ]:
# 산술연산

In [1]:
# 산술연산자
# 덧셈
print(5 + 3) # 결과: 8
print(3 + 2.5) # 결과: 5.5

8
5.5

In [2]:
s1 = "Hello"
s2 = "World"
result = s1 + " " + s2
print(result)  # Hello World

Hello World

In [3]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [4]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [5]:
# 서로 다른 자료형 간의 덧셈은 불가
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [6]:
# 딕셔너리와 셋은 덧셈을 지원하지 않는다
{'one':1} + {'two':2} # error
{5} + {6} # error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [7]:
# 딕셔너리와 셋은 + 대신 |을 사용해 결합 가능
print({'one':1} | {'two':2}) # 결과: {'one': 1, 'two': 2}
print({5} | {6}) # 결과: {5, 6}

{'one': 1, 'two': 2}
{5, 6}

In [8]:
# 뺄셈
print(7 - 4) # 결과: 3
print(10 - 3.5) # 결과: 6.5
print(5 - (-3)) # 결과: 8

3
6.5
8

In [9]:
# 셋은 + 기호는 지원하지 않지만 - 기호로 차집합을 지원
{3, 4, 5} - {4} # 결과: {3, 5}

{3, 5}

In [10]:
{3, 4, 5}.difference({4}) # 결과: {3, 5}

{3, 5}

In [ ]:
# 서로 다른 자료형 간의 뺄셈은 불가능
result = "Hello" - 3 # error

In [11]:
print(7 - 4) # 결과: 3
print(7 -- 4) # 결과: 11
print(7 --- 4) # 결과: 3

3
11
3

In [12]:
# 곱셈
print(3 * 4) # 결과: 12
print(5 * 2.5) # 결과: 12.5

12
12.5

In [13]:
print("Ha" * 3) # 출력: "HaHaHa"
# print("Ha" * 3.1) # Error

HaHaHa

In [14]:
print([1, 2, 3] * 2) # 출력: [1, 2, 3, 1, 2, 3]

[1, 2, 3, 1, 2, 3]

In [ ]:
# 나눗셈
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) # 결과 5 -> 정수형으로 반환

5.0
5

In [16]:
a = -5
b = 2
print(a / b) # 결과: -2.5
print(a // b) # 결과: -3

-2.5
-3

In [ ]:
z = 0
100 / z # ZeroDivisionError 발생

In [17]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [18]:
# 나머지 연산자
10 % 3 # 결과: 1

1

In [19]:
10 % 2 == 0 # 홀수, 짝수 판별
365 % 10 == 0 # 1의 자리 반환

False

In [21]:
# 거듭제곱 연산자
10 ** 3 # 결과: 1000

1000

In [22]:
4 ** 0.5 # 결과: 2

2.0

In [24]:
-2 ** 2

-4

In [23]:
(-2) ** 2

4

In [ ]:
# 전/후위 연산자