# 4.2. 다차원 리스트와 Built-in functions, range, list comprehension

In [2]:
#1차원 리스트
a = [100000, 2, 1, 3]
print(type(a))

a = list()
print(type(a))

a = list('leehojun') #형변환
print(type(a))
print(a)
print(a[0])

<class 'list'>
<class 'list'>
<class 'list'>
['l', 'e', 'e', 'h', 'o', 'j', 'u', 'n']
l

In [7]:
#2차원 리스트
a = [[1, 2, 3],
     [11, 22, 33],
     [10, 20, 30]]

a[0]
a[1]
a[2]

a[0][0]
a[1][0]
a[2][0]

print(type(a))

a[0]
a[0][2]

a[1]
a[1][1]

<class 'list'>

22

In [8]:
#3차원 리스트
a = [[[1, 2], [1, 2], [1, 2]],
    [['leehojun', 2], [1, 2], [1, 2]]]

a[1][0][0]

'leehojun'

In [12]:
# 리스트 관련 내장합수
a = [1, 2, 3, 4, 5, 6, 7, 8]
max(a)
min(a)
sum(a)

36

In [15]:
#2차원
a = [[1, 2, 3],
     [11, 22, 33],
     [13, 20000, 300000]]
max(a, key-lambda x:x[1])

SyntaxError: invalid syntax (1812170191.py, line 5)

In [19]:
list(range(10))
list(range(100))
list(range(1, 10))
list(range(1, 10))

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [30]:
student_score = {
    '홍의': 97,
    '원희': 60,
    '동해': 77,
    '변수': 79,
    '창현': 89,
}
average = sum(student_score.values()) / len(student_score)
print("80:", average)

80: 80.4

In [37]:
print("97, 77, 79, 89:", count)

97, 77, 79, 89: 0