# 산술연산

In [1]:
print(5 + 3) # 결과: 8
print(3 + 2.5) # 결과: 5.5

8
5.5

In [2]:
s1 = "Hello"
s2 = "World"
result = s1 + " " + s2
print(result)  # Hello World

Hello World

In [3]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
combined_list = list1 + list2
print(combined_list)  # [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [4]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
combined_tuple = tuple1 + tuple2
print(combined_tuple)  # (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [5]:
result = "Hello" + 5

TypeError: can only concatenate str (not "int") to str

In [6]:
{'one':1} + {'two':2} # error
{5} + {6} # error

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [7]:
print({'one':1} | {'two':2}) # 결과: {'one': 1, 'two': 2}
print({5} | {6}) # 결과: {5, 6}

{'one': 1, 'two': 2}
{5, 6}

In [8]:
print(7 - 4) # 결과: 3
print(10 - 3.5) # 결과: 6.5
print(5 - (-3)) # 결과: 8

3
6.5
8

In [9]:
a = 10
b = 2
print(a / b) # 결과 5.0
print(a // b) # 결과 5

5.0
5

In [10]:
a = 10
b = 3
divide = a / b
print(f'{a} ÷ {b} = {divide:.2f}')  # 결과: 10 ÷ 3 = 3.33

10 ÷ 3 = 3.33

In [11]:
10 % 3 # 결과: 1

1

In [12]:
-2 ** 2

-4

In [13]:
(-2) ** 2

4

# 비교연산

In [14]:
print('apple' < 'banana') # 결과: True

True

In [15]:
print('하하' > '후후') # 결과: False

False

In [16]:
x = 10
print(5 < x < 15) # 결과: True

True

In [17]:
[10, 20, 30] > [20, 30, 40] # False

False

In [18]:
'abcde' > 'abcda' # True

True

In [19]:
'abcd' > 'abcda'

False

In [20]:
import math


result = 0.1 + 0.2
print(result == 0.3)              # False
print(math.isclose(result, 0.3))  # True
print(math.isclose(result, 0.29)) # False
print(math.isclose(result, 0.31)) # False
print(math.isclose(result, 0.30000001)) # False

False
True
False
False
False

# 논리연산

In [21]:
# and 두가지 조건이 모두 참일때만 True
# 예 5 > 3 and 4 > 3 -> True
# 하나라도 조건이 틀리면 False
# 값이 같더라도 ID가 달라서 False 여러가지 상황이 있다.


print(True and True)   # 결과: True
print(True and False)  # 결과: False
print(False and True)  # 결과: False
print(False and False) # 결과: False

True
False
False
False

In [ ]:
# and 두가지 조건이 모두 참일때만 True
# 예 5 > 3 and 4 < 3 -> True
# 하나라도 조건이 맞으면 True


print(True or True)   # 결과: True
print(True or False)  # 결과: True (and와 차이점)
print(False or True)  # 결과: True (and와 차이점)
print(False or False) # 결과: False

In [22]:
num = 15
result = num > 10 and num < 20 # 기억해주세요
print(result) # 결과: True

True

In [23]:
for i in range(101): # 0부터 100까지를 반복합니다.
    if i % 3 == 0 and i % 5 == 0:
        print(i)

0
15
30
45
60
75
90

In [24]:
def test1():
    print("test1 함수 호출!")
    return False


def test2():
    print("test2 함수 호출!")
    return True


result = test1() and test2()
print(result) # 결과: False

test1 함수 호출!
False

In [25]:
lst = []
if lst and lst[0] > 3:
    print("리스트의 첫 번째 원소는 3보다 큽니다.")

In [26]:
a = 'hello'
b = ''


a or b # 출력: 'hello'

'hello'

In [27]:
x = True and False

In [28]:
x = 5
y = 2
z = 10


x += y * z  # y * z 연산 후 x에 값을 할당합니다.
print(x)  # 결과: 25

25

In [30]:
coffee_employee = "Brand"
orange_employee = "Brand"


print(coffee_employee is orange_employee)
print(coffee_employee == orange_employee)
id(coffee_employee)

True
True

1763840414016

In [31]:
a = [1, 2, 3]
b = [1, 2, 3]
c = a


print('a == b', a == b)
print('a == c', a == c)
print('a is b', a is b)
print('a is c', a is c)

a == b True
a == c True
a is b False
a is c True

# 멤버연산

In [ ]:
fruits = ["사과", "바나나", "포도"]


print("사과" in fruits)  # True, 사과가 목록에 있기 때문이에요.
print("오렌지" not in fruits)  # True, 오렌지는 목록에 없기 때문이에요.

True
True

In [33]:
a = [1, 2, 3, 4]
b = [1, 2, 3, 4]
c = 'hello world'


print(1 in a) # 출력: True
print(0 not in a) # 출력: True
print([2] in b) # 출력: False
print([1, 2] in b) # 출력: False
print('h' in c) # 출력: True
print('hello ' in c) # 출력: True

True
True
False
False
True
True