# 함수와 인사하기

In [ ]:
def test(x, y): # 함수의 정의
    print(x + y)
    print(x - y)
    print(x / y)
    print(x * y)


test(10, 20) # 함수의 호출(함수를 사용)
test(3, 10) # 함수의 호출(함수를 사용)

In [2]:
def my_function():
    print("Hello, World!")
    print("안녕하세요, 세상!")

my_function()

Hello, World!
안녕하세요, 세상!

# 간단한 함수 만들어보기

In [3]:
def simple_function():
    print('Hello, World!') # 출력: 'Hello, World!'


# 함수 호출
print(simple_function())

Hello, World!
None

In [4]:
def give_me_five():
    return 5


result = give_me_five()
# result = 5
print(result) # 출력: 5

5

In [5]:
def greeting(name):
    print(f'Hello, {name}!')


# 함수 호출
print(greeting('Licat'))

Hello, Licat!
None

In [6]:
def add_numbers(x, y):
    sum = x + y
    return sum


# 함수 호출
result = add_numbers(5, 3)
print(result)  # 출력: 8

8

In [ ]:
def function(x, y):
    z = x + y
    print(z)


print(f'function(5, 7) = {function(5, 7)}')

In [8]:
def f(a, b, c):
    print(a, b, c)

# a, b, c에 순서대로
f(100,200,300)
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

100 200 300
100 200 300
100 200 300

In [9]:
def f(a=10, b=20, c=30):
    print(a, b, c)

# a, b, c 모두 기본 값 사용
f() # 출력: 10 20 30
# a = 100, b = 10, c -> 기본 값
f(100, 10) # 출력: 100 10 30
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

10 20 30
100 10 30
100 200 300
100 200 300

In [11]:
def f(a=10, b=20, c):
    print(a, b, c) # error

SyntaxError: parameter without a default follows parameter with a default (3729318703.py, line 1)

In [ ]:
def f(a, b=20, c=10):
    print(a, b, c)


f(100, 10) # 출력: 100 10 10
f(a=100, b=200, c=300) # 출력: 100 200 300
f(c=300, a=100, b=200) # 출력: 100 200 300

100 10 10
100 200 300
100 200 300

In [13]:
def add_element(my_list):
    my_list.append(1)


a = [2, 3, 4]
add_element(a.copy())
print(a)  # 출력: [2, 3, 4, 1]

[2, 3, 4]

In [14]:
# 권장하지 않는 방법
def append_to_list(value, lst=[]):
    lst.append(value)
    return lst # 예상치 못한 결과가 발생할 수 있습니다.

append_to_list(1)
append_to_list(2)

[1, 2]

In [ ]:
def append_to_list(value, lst=None):
    if lst is None:
        lst = []
    lst.append(value)
    return lst

# 지역 변수와 전역 변수

In [ ]:
# 지역 변수 사용 예시
def f():
    a = 1
    print(a)  # 출력: 1
    print(locals())

f()

In [15]:
a = 100


def f():
    global a
    a = a + 1


f()
print(a)

101

In [16]:
a = 100
def f():
    a = a + 1 # error


f()
print(a)

UnboundLocalError: cannot access local variable 'a' where it is not associated with a value

In [17]:
a = 100


def f():
    print(a) # 출력: 100


f()


def ff():
    b = a + 1
    print(b) # 출력: 101


ff()

100
101

In [18]:
a = 100


def f():
    a = 1000
    print(a) # 출력: 1000


f()

1000

# 함수에서 pass 사용하기

In [19]:
# TODO 나중에 구현
def my_function():
    pass

# built-in function

In [ ]:
# 모두 다 True여야 True 반환
print(all([True, True, True])) # 출력: True
print(all([True, True, True])) # 출력: True
print(all([1, 1, 1, 0])) 
print(all([True, True, True])) # 출력: True
print(all([True, True, True])) # 출력: True

In [20]:
# 모두 다 True여야 True 반환
all([True, True, True]) # 출력: True
all([True, True, False]) # 출력: False
all([1, 1, 1, 0]) # 출력: False
all([1, 0, 1, 1]) # 출력: False
all([1, 100, 10, -1]) # 출력: True

True

In [21]:
# 하나라도 True이면 True이다.
any([True, False, False]) # 출력: True
any([False, False, False]) # 출력: False

False

In [22]:
# 10진수로 유니코드표에서 찾아 대응되는 값을 줍니다.
chr(65) # 출력: 'A'
chr(97) # 출력: 'a'
chr(54616) # 출력: '하'

'하'

In [ ]:
x = [2, 4, 8, 16, 32, 64, 128]
list(zip(x, x[1:], x[2:]))

In [23]:
max([1, 2, 3, 4, 5]) # 출력 : 5
max([(1, 2), (3, 101), (1, 20), (3, 100)]) # 출력 : (3,101)
max(['hello', 'world', 'world1']) # 출력 : world1

'world1'

In [24]:
students = [
    {'이름': '가', '국어': 90, '영어': 72, '수학': 95},
    {'이름': '나', "국어": 80, '영어': 90, '수학': 91},
    {'이름': '다', "국어": 95, '영어': 73, '수학': 92}
]

max(students, key=lambda student: student['수학']) # 출력: {'이름': '가', '국어': 90, '영어': 72, '수학': 95}

{'이름': '가', '국어': 90, '영어': 72, '수학': 95}

In [ ]:
sum(iterable, start=0)

In [26]:
sum([1, 2, 3, 4, 5]) # 출력: 15
sum([1, 2, 3], 10) # 출력: 16

16

In [27]:
sum([[1, 2], [10, 20], [100, 200]], [])

[1, 2, 10, 20, 100, 200]

In [28]:
import numpy as np


np.sum([[1, 2], [3, 101], [1, 20], [3, 100]]) # 출력 : 328

np.int64(231)

In [ ]:
class Charactor:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'world'


hero = Charactor()
print(hero)

world

In [30]:
print(list(range(0, 101, 2))) #짝수
print(list(range(1, 101, 2))) #홀수

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

In [31]:
print(list(range(100, 1, -2)))

[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [32]:
values = ['A', 'B', 'C', 'D']
print(list(enumerate(values)))
print(list(enumerate(values, 1)))
print(list(enumerate(values, 100)))

[(0, 'A'), (1, 'B'), (2, 'C'), (3, 'D')]
[(1, 'A'), (2, 'B'), (3, 'C'), (4, 'D')]
[(100, 'A'), (101, 'B'), (102, 'C'), (103, 'D')]

In [33]:
l = [3, 2, 1, 5, 4]
print(l.sort())
print(l)

None
[1, 2, 3, 4, 5]