# 시퀀스 자료형

In [1]:
example = 'abcde'
print(example[0]) # 출력: a
print(example[2]) # 출력: c

a
c

In [2]:
example = 'abcde'
print(example[1:3]) # 출력: bc
print(range(10)[3]) # 출력: 3
print(range(100)[::5]) # 출력: range(0, 100, 5)

bc
3
range(0, 100, 5)

In [3]:
example = 'abcde'
print(len(example))  # 출력: 5
print(min(example))  # 출력: a
print(max(example))  # 출력: e

5
a
e

In [4]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4
print(packed_tuple)  # 출력: (1, 2, 3, 4)

(1, 2, 3, 4)

In [5]:
# 튜플 패킹
packed_tuple = 1, 2, 3, 4


# 튜플 언패킹
a, b, c, d = packed_tuple
print(a)  # 출력: 1
print(b)  # 출력: 2

1
2

In [6]:
for i, j in [[10, 20], [100, 200]]:
    print(i, j)

10 20
100 200

In [7]:
first, *middle, last = [1, 2, 3, 4, 5]
print(first)    # 출력: 1
print(middle)   # 출력: [2, 3, 4]
print(last)     # 출력: 5

1
[2, 3, 4]
5

# 리스트

In [9]:
x = [1, 2, 3] #CSV 파일과 비슷 ,
y = ['apple', 'banana', 'cherry']
z = [1, [2], 3] in [2]


print(len(x))
print(len(y))

3
3

In [11]:
z = [1, 'apple', 2.5, ['a', 'b'], (1, 2)]
print(z[0])
print(z[1])
print(z[2])
print(z[3])
print(z[4])

1
apple
2.5
['a', 'b']
(1, 2)

In [12]:
a = [1, 2, 3, 4, 5]
a[0] = 10000
print(a)

[10000, 2, 3, 4, 5]

In [ ]:
s = 'licat'
print(s[0])
s[0] = 'k'

l

TypeError: 'str' object does not support item assignment

In [14]:
b = [[10, 20, 30], [1, 2, 3]]
print(b[1][2]) # 출력: 3

3

In [15]:
import numpy as np


l = [1, 2, 3]
l = np.array(l)
l * 3
l + l
# 너무 당연하게 요소를 붙이는 것이다라고 생각하지 않으셨으면 좋겠습니다.

array([2, 4, 6])

In [16]:
x = [1]
print(x * 3) # 출력: [1, 1, 1]

[1, 1, 1]

In [17]:
a = [1, 2, 3]
a = a * 3


a[0] = 1000
print(a)

[1000, 2, 3, 1, 2, 3, 1, 2, 3]

In [18]:
a = [1, 2, 3]
a = [a * 2] * 2 # 리스트 컴프리헨션 사용하셔서 만드시는 것을 권합니다.


print(a)
print(id(a[0]), id(a[1]))
a[0][0] = 10000
print(a)

[[1, 2, 3, 1, 2, 3], [1, 2, 3, 1, 2, 3]]
1996426323136 1996426323136
[[10000, 2, 3, 1, 2, 3], [10000, 2, 3, 1, 2, 3]]

In [19]:
l = [1, 2, 3, 4, 5]
print(l[0]) # 출력: 1
print(l[3]) # 출력: 4
print(l[-1]) # 출력: 5
print(l[-3]) # 출력: 3

1
4
5
3

In [20]:
lst = [1, 2, 3, 4, 5]
print(lst[10])

IndexError: list index out of range

In [21]:
l = [1, 2, 3, 4, 5]
print(l[1:4]) # 출력: [2, 3, 4]

[2, 3, 4]

In [22]:
l = [1, 2, 3, 4, 5]
print(l[:])     # 출력: [1, 2, 3, 4, 5]
print(l[::-1])  # 출력: [5, 4, 3, 2, 1]
print(l[::2])   # 출력: [1, 3, 5]
print(l[0:4][::-1]) # 출력: [3, 2, 1]

[1, 2, 3, 4, 5]
[5, 4, 3, 2, 1]
[1, 3, 5]
[4, 3, 2, 1]

In [23]:
print(dir(list))
x = []
print(dir(x))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']
['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getstate__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [27]:
a = [1, 2, 3]
a.append(10)
print(a)
a.clear()
print(a)

[1, 2, 3, 10]
[]

In [25]:
a.clear()
print(a)  # 출력: []

[]

In [26]:
a = [1, 2, 3]
b = a.copy()
b[0] = 10000
print(a)  # 출력: [1, 2, 3]
print(b)  # 출력: [10000, 2, 3]

[1, 2, 3]
[10000, 2, 3]

In [28]:
l = [10, 20, 30]
ll = l[:]
print(id(ll), id(l))
l[0] = 1000
print(l, ll) # 출력: [1000, 20, 30] [10, 20, 30]

1996054847296 1996427130176
[1000, 20, 30] [10, 20, 30]

In [29]:
a = [1, 1, 2, 3, 1]
print(a.count(1))

3

In [30]:
a = [1, 2, 3]
a.extend([4, 5, 6])
print(a)  # 출력: [1, 2, 3, 4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [31]:
l = [10, 20, 30]
l.extend('hello')
l # 출력: [10, 20, 30, 'h', 'e', 'l', 'l', 'o']

[10, 20, 30, 'h', 'e', 'l', 'l', 'o']

In [32]:
l = [10, 20, 30]
ll = ['40', '50', '60']
l.extend(map(int, ll))
l # 출력: [10, 20, 30, 40, 50, 60]

[10, 20, 30, 40, 50, 60]

In [33]:
a = [10, 20, 30, 40]
print(a.index(30))  # 출력: 2

2

In [34]:
a = [10, 20, 30, 40]
a.insert(2, 25)
print(a)  # 출력: [10, 20, 25, 30, 40]

[10, 20, 25, 30, 40]

In [37]:
a = [10, 20, 30, 40]
print(a.pop(2))  # 출력: 25
print(a)  # 출력: [10, 20, 30, 40]
print(a.pop()
print(a)

SyntaxError: '(' was never closed (3700819088.py, line 4)

In [38]:
l = [10, 20, 30]
print(l.pop())
print(l)

30
[10, 20]

In [ ]:
l = [1, 2, 3, 4, 5]


while l:
    print(l.pop()) # 5, 4, 3, 2, 1

5
4
3
2
1

In [40]:
l = [1, 2, 3, 4, 5]
 
while l:
    print(l.pop(0)) # 1, 2, 3, 4, 5

1
2
3
4
5

In [41]:
a = [3, 2, 5, 1, 4]
b = reversed(a)
print(a)        # 출력: [3, 2, 5, 1, 4]
print(list(b))  # 출력: [4, 1, 5, 2, 3]

[3, 2, 5, 1, 4]
[4, 1, 5, 2, 3]

In [42]:
a = [3, 2, 5, 1, 4]
a.sort()
print(a)  # 출력: [1, 2, 3, 4, 5]

[1, 2, 3, 4, 5]

In [43]:
a = [3, 2, 5, 1, 4]
b = sorted(a)
print(a)  # 출력: [3, 2, 5, 1, 4]
print(b)  # 출력: [1, 2, 3, 4, 5]

[3, 2, 5, 1, 4]
[1, 2, 3, 4, 5]

# 튜플

In [44]:
x = (1, 2, 3)
y = ('apple', 'banana', 'cherry')

In [45]:
z = (1, 'apple', 2.5, ['a', 'b'], (1, 2))

In [46]:
x = [10, 20, 30]
y = (1, 2, x)
x[0] = 1000
y # 출력: (1, 2, [1000, 20, 30])

(1, 2, [1000, 20, 30])

In [47]:
t1 = () # tuple
t2 = (0,) # tuple 단일 값의 튜플을 사용할때 꼭 콤마를 넣어주세요!
t3 = (0) # int
t4 = (0.1) # float
print(type(t1))
print(type(t2))
print(type(t3))
print(type(t4))

<class 'tuple'>
<class 'tuple'>
<class 'int'>
<class 'float'>

In [48]:
tuple1 = (1, 2, 3)
tuple2 = (4, 5, 6)
tuple3 = tuple1 + tuple2
print(tuple3)  # 출력: (1, 2, 3, 4, 5, 6)

(1, 2, 3, 4, 5, 6)

In [49]:
t = (1, 2, 3, 4, 5)
print(t[0])  # 출력: 1

1

In [50]:
t = (1, 2, 3, 4, 5)
print(t[1:4])  # 출력: (2, 3, 4)

(2, 3, 4)

In [51]:
print(dir(tuple))

['__add__', '__class__', '__class_getitem__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__getstate__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

# 딕셔너리

In [53]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
person['name']

'licat'

In [54]:
d1 = {}
d2 = dict()


print(type(d1))  # 출력: <class 'dict'>
print(type(d2))  # 출력: <class 'dict'>

<class 'dict'>
<class 'dict'>

In [55]:
d = {'one' : '하나', 'one' : '하나2', 'one' : '하나3'}
print(d)  # 출력: {'one' : '하나3'}

{'one': '하나3'}

In [56]:
d = dict([('one' , '하나'), ('two', '둘')])
d = dict(l)
print(d)  # 출력: {'one' : '하나', 'two' : '둘'}

{}

In [57]:
d = dict(name='licat', age=10)
print(d)  # 출력: {'name': 'licat', 'age': 10}

{'name': 'licat', 'age': 10}

In [58]:
complex_dict = {
    "numbers": [1, 2, 3],
    42: "answer",
    ("x", "y"): [10, 20],
    True: [100, 200]
}
print(complex_dict["numbers"])  # 출력: [1, 2, 3]
print(complex_dict[42])         # 출력: answer
print(complex_dict[("x", "y")]) # 출력: [10, 20]
print(complex_dict[True])       # 출력: [10, 20]

[1, 2, 3]
answer
[10, 20]
[100, 200]

In [59]:
person = {'name': 'licat', 'city': 'Jeju'}
person['name'] = 'mura'
person['city'] = 'Seoul'


print(person) # 출력: {'name': 'mura', 'city': 'Seoul'}

{'name': 'mura', 'city': 'Seoul'}

In [60]:
person['age'] = 10
print(person) # 출력: {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

{'name': 'mura', 'city': 'Seoul', 'age': 10}

In [61]:
users = {
    "leehojun": {"city": "Jeju", "job": "Developer"},
    "licat": {"city": "Seoul", "job": "Designer"}
}
print(users["leehojun"]["job"]) # 출력: Developer

Developer

In [62]:
keys = ["name", "city", "job"]
values = ["licat", "Jeju", "Developer"]


new_dict = dict(zip(keys, values))
print(new_dict)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [63]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
copied_person = person.copy()
print(copied_person)

{'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}

In [64]:
keys = ['name', 'city', 'job']
# keys = 'hello' # 이렇게 이터러블한 객체는 모두 가능합니다.
value = None
print(dict.fromkeys(keys, value))

{'name': None, 'city': None, 'job': None}

In [65]:
keys = ['name', 'city', 'job']
value = ['licat', 'Jeju', 'Developer']
print(dict.fromkeys(keys, value))

{'name': ['licat', 'Jeju', 'Developer'], 'city': ['licat', 'Jeju', 'Developer'], 'job': ['licat', 'Jeju', 'Developer']}

In [66]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
print(numbers.get('four'))
print(numbers.get('three', '없음'))
print(numbers.get('four', '없음'))
print(numbers['four'])

None
셋
없음

KeyError: 'four'

In [67]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
print(person.items())

dict_items([('name', 'licat'), ('city', 'Jeju'), ('job', 'Developer')])

In [68]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
print(person.keys())

dict_keys(['name', 'city', 'job'])

In [69]:
person = {'name': 'licat', 'city': 'Jeju', 'job': 'Developer'}
print(person.values())

dict_values(['licat', 'Jeju', 'Developer'])

In [70]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
one_value = numbers.pop('one')
print(one_value)
print(numbers)

하나
{'two': '둘', 'three': '셋'}

In [71]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.pop() # error
numbers

TypeError: pop expected at least 1 argument, got 0

In [72]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
item = numbers.popitem()
print(item)
print(numbers)

('three', '셋')
{'one': '하나', 'two': '둘'}

In [73]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("four", "넷")
print(four_value)
print(numbers)

넷
{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷'}

In [74]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
four_value = numbers.setdefault("three", 3) # 3이 반영되지 않습니다.
print(four_value)
print(numbers)

셋
{'one': '하나', 'two': '둘', 'three': '셋'}

In [75]:
numbers = {'one': '하나', 'two': '둘', 'three': '셋'}
numbers.update({'four': '넷', 'five': '다섯'})
print(numbers)

{'one': '하나', 'two': '둘', 'three': '셋', 'four': '넷', 'five': '다섯'}

# 셋

In [76]:
x = {1, 2, 3}
y = {'apple', 'banana', 'cherry'}

In [77]:
z = set([1, 2, 3, 3, 3])
print(z)  # 출력: {1, 2, 3}

{1, 2, 3}

In [78]:
string_set = set('apple coffee')
print(string_set)

{'l', ' ', 'o', 'e', 'f', 'c', 'p', 'a'}

In [79]:
a = {1, 2, 3, 4, 5, 2, 3}
print(a)  # 출력: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [82]:
a = {1, 2, 3, 4, 5}
print(a[0])  # 이렇게 하면 에러가 발생합니다!
print(3 in a)

TypeError: 'set' object is not subscriptable

In [84]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
# shift + \
union_set = set1 | set2
print(union_set)  # 출력: {1, 2, 3, 4, 5}

{1, 2, 3, 4, 5}

In [85]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
intersection_set = set1 & set2
print(intersection_set)  # 출력: {3}

{3}

In [86]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
difference_set = set1 - set2
print(difference_set)  # 출력: {1, 2}

{1, 2}

In [87]:
set1 = {1, 2, 3, 4, 5}
print(3 in set1)  # 출력: True
print(6 in set1)  # 출력: False

True
False

In [88]:
set1 = {1, 2, 3, 4, 5}

In [89]:
set1 = {1, 2, 3}
set1.add(4)
print(set1)  # 출력: {1, 2, 3, 4}

{1, 2, 3, 4}

In [90]:
set1 = {1, 2, 3, 4}
set1.clear()
print(set1)  # 출력: set()

set()

In [91]:
set1 = {1, 2, 3}
set2 = set1.copy()
print(set2)  # 출력: {1, 2, 3}

{1, 2, 3}

In [92]:
set1 = {1, 2, 3, 4}
set1.remove(3)
print(set1)    # 출력: {1, 2, 4}
# set1.remove(5) # KeyError

{1, 2, 4}

In [93]:
set1 = {1, 2, 3, 4}
set1.discard(5)
print(set1)  # 출력: {1, 2, 3, 4}

{1, 2, 3, 4}

In [94]:
s = {3, 4, 5, 6, 7, 8}
s.pop()
print(s)  # 가장 확률적으로 출력: {4, 5, 6, 7, 8}
s.pop()
print(s)  # 가장 확률적으로 출력: {5, 6, 7, 8}
s.pop()
print(s)  # 가장 확률적으로 출력: {6, 7, 8}

{4, 5, 6, 7, 8}
{5, 6, 7, 8}
{6, 7, 8}

In [95]:
set1 = {1, 2, 3, 4}
set1.pop()

1

In [96]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1.difference(set2))  # 출력: {1, 2}

{1, 2}

In [97]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.difference_update(set2)
print(set1)  # 출력: {1, 2}

{1, 2}

In [98]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1.intersection(set2))  # 출력: {3, 4}

{3, 4}

In [99]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.intersection_update(set2)
print(set1)  # 출력: {3, 4}

{3, 4}

In [100]:
set1 = {1, 2, 3}
set2 = {4, 5, 6}
print(set1.isdisjoint(set2))  # 출력: True

True

In [101]:
set1 = {1, 2, 3}
set2 = {1, 2, 3, 4, 5}
print(set1.issubset(set2))  # 출력: True

True

In [102]:
set1 = {1, 2, 3, 4, 5}
set2 = {1, 2, 3}
print(set1.issuperset(set2))  # 출력: True

True

In [ ]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
# shift + 6
print(set1^set2)                        # 출력: {1, 2, 5, 6}
print(set1.symmetric_difference(set2))  # 출력: {1, 2, 5, 6}

{1, 2, 5, 6}
{1, 2, 5, 6}

In [104]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
set1.symmetric_difference_update(set2)
print(set1)  # 출력: {1, 2, 5, 6}

{1, 2, 5, 6}

In [105]:
set1 = {1, 2, 3, 4}
set2 = {3, 4, 5, 6}
print(set1.union(set2))  # 출력: {1, 2, 3, 4, 5, 6}

{1, 2, 3, 4, 5, 6}