In [ ]:
# all, any
# iterable 개체(리스트, 튜플 문자열 등)를 인수로 받아, 각각 모든 요소가 참일 경우 True, 하나의 요소라도 참이라면 True를 반환
arr = [1, 0, 3, 4, 5]
print(all(arr))
print(any(arr))

False
True

In [5]:
# chr, ord
# chr()은 정수를 인수로 받아 그에 해당하는 유니코드 문자를 반환
# ord()은 문자를 인수로 받아 그 문자의 유니코드 값을 반환

print(chr(65))
print(ord('A'))
print(ord('하'))

A
65
54616

In [7]:
# map
# 기존 리스트의 모든 요소에 특정 함수를 적용한 결과를 map 객체 형태로 반환
arr = ["40", "80", "60"]
list(map(int, arr))

[40, 80, 60]

In [8]:
# 첫번째 방법
def 제곱(x):
    return x ** 2
list(map(제곱, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

In [ ]:
# 두번째 방법
# 한 번만 사용할 리스트일 경우
list(map(lambda x : x ** 2, [1, 2, 3, 4])) # 출력: [1, 4, 9, 16]

[1, 4, 9, 16]

In [3]:
# filter
# filter(조건 함수, 리스트 또는 튜플)
x = range(1, 101)
arr = []
for i in x:
    if i % 2 == 0:
        arr.append(i)

print(arr)

filtered_list = list(filter(lambda i: i % 2 == 0, x))
print(filtered_list)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [9]:
# zip
# 여러 개의 순회할 수 있는 객체의 요소를 묶어서 반환
x = "benny"
y = "garam"
idx = [0, 1, 2]
zipped = zip(x, y, idx)
list(zipped)    # 같은 인덱스끼리 묶어서 표현

x = [2, 4, 8, 16, 32, 64, 128]
list(zip(x, x[1:], x[2:]))

# 리스트 길이가 같은 경우
# print(list(zip([1, 2, 3], ['a', 'b', 'c'], strict=True)))


# 리스트 길이가 다른 경우
try:
    print(list(zip([1, 2, 3], ['a', 'b'], strict=True)))
except ValueError as e:
    print(f"오류: {e}")

오류: zip() argument 2 is shorter than argument 1

In [ ]:
# format
# 특정 값을 지정된 형식으로 변환하여 문자열로 반환하는 함수
# 만약 서식 지정자를 설정하지 않으면 str()한 것과 동일한 결과를 얻음

format(10000, ',')
print(format(123.4567, '.2f')) # 출력: 123.46
print(format('Hello', '^9')) # 출력: '  Hello  ' => 중간에 문자열을 두고 출력. 중앙 정렬

123.46
  Hello

In [ ]:
# max, min, sum

def select(student):
    return student['수학']  # student의 '수학' 값을 반환


students = [
    {'이름': '가', '국어': 90, '영어': 72, '수학': 95},
    {'이름': '나', "국어": 80, '영어': 90, '수학': 91},
    {'이름': '다', "국어": 95, '영어': 73, '수학': 92}
]


max(students, key=select) # 출력: {'이름': '가', '국어': 90, '영어': 72, '수학': 95}

{'이름': '가', '국어': 90, '영어': 72, '수학': 95}

In [2]:
students = [
    {'이름': '가', '국어': 90, '영어': 72, '수학': 95},
    {'이름': '나', "국어": 80, '영어': 90, '수학': 91},
    {'이름': '다', "국어": 95, '영어': 73, '수학': 92}
]


max(students, key=lambda student: student['수학']) # 출력: {'이름': '가', '국어': 90, '영어': 72, '수학': 95}

{'이름': '가', '국어': 90, '영어': 72, '수학': 95}

In [3]:
min([1, 2, 3, 4, 5]) # 출력 : 1
min([], default=0) # 출력: 0

0

In [4]:
students = [
    {'이름': '가', '국어': 90, '영어': 72, '수학': 95},
    {'이름': '나', "국어": 80, '영어': 90, '수학': 91},
    {'이름': '다', "국어": 95, '영어': 73, '수학': 92}
]


min(students, key=lambda student: student['수학']) # 출력: {'이름': '나', '국어': 80, '영어': 90, '수학': 91}

{'이름': '나', '국어': 80, '영어': 90, '수학': 91}

In [5]:
# sum
# sum함수는 순회 가능한 객체를 받아 모든 요소의 합을 계산하여 반환
# sum(iterable, start=0)

sum([1, 2, 3, 4, 5]) # 출력: 15
sum([1, 2, 3], 10) # 출력: 16

16

In [ ]:
arr = [1, 2, 3, 4, 5]
sum(arr, start=10) # 출력 25

25

In [7]:
multi_arr = [[1, 2], [3, 4], [5, 6]]
sum(multi_arr, [])

[1, 2, 3, 4, 5, 6]

In [8]:
sum([[1, 2], [10, 20], [100, 200]], []) # 출력: [1, 2, 10, 20, 100, 200]
# [] + [1, 2]
# [1, 2] + [10, 20]
# [1, 2, 10, 20] + [100, 200]
# [1, 2, 10, 20, 100, 200]

[1, 2, 10, 20, 100, 200]

In [ ]:
sum(sum([[1, 2], [10, 20], [100, 200]], []))    # 위 리스트에 sum을 실행한 것. 리스트 안의 요소를 모두 더한 것

333

In [10]:
# print, repr

print(type("hello"))
type("hello")

<class 'str'>

str

In [11]:
class Charactor:
    def __repr__(self):
        return 'hello'
    def __str__(self):
        return 'world'


hero = Charactor()
print(hero) # 출력 : 'world'
# hero # 출력 : 'hello'

world

In [13]:
# range
# 순회할 수 있는 숫자 객체를 만들어주는 함수
print(list(range(0, 101, 2))) #짝수
print(list(range(1, 101, 2))) #홀수
print(list(range(100, 1, -2)))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]
[100, 98, 96, 94, 92, 90, 88, 86, 84, 82, 80, 78, 76, 74, 72, 70, 68, 66, 64, 62, 60, 58, 56, 54, 52, 50, 48, 46, 44, 42, 40, 38, 36, 34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14, 12, 10, 8, 6, 4, 2]

In [15]:
# enumerate
# 반복할 수 있는 객체의 인덱스와 값을 함께 반환하여 주로 반복문에서 사용
for i, v in enumerate(['a', 'b', 'c']):
    print(i, v)

0 a
1 b
2 c

In [17]:
# sorted
# 시퀀스를 정렬하여 새로운 리스트를 반환한다. sort() 함수와의 차이점 유의

sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'])
# 출력 : ['a', 'hel', 'hello', 'heo', 'hllo', 'l']

['a', 'hel', 'hello', 'heo', 'hllo', 'l']

In [ ]:
sorted(['hello', 'l', 'hllo', 'hel', 'heo', 'a'], key=len)  # 길이 기준으로 정렬
# 출력 : ['l', 'a', 'hel', 'heo', 'hllo', 'hello']

['l', 'a', 'hel', 'heo', 'hllo', 'hello']

In [19]:
sorted(['21', '21', '12', '22', '53', '15'], key=lambda x:x[-1])    # 맨 뒤의 문자를 기준으로 정렬
# 출력 : ['21', '21', '12', '22', '53', '15']

['21', '21', '12', '22', '53', '15']

In [23]:
# reversed
# 역순으로 반환. 역으로 정렬하는 게 아니다.
list(reversed('hello world'))
# list(reversed([1, 2, 3, 10, 5, 4])) # 역 정렬 아닙니다! 역순입니다.
# list(reversed(sorted([1, 2, 3, 10, 5, 4])))
print(list(reversed('hello world')))

['d', 'l', 'r', 'o', 'w', ' ', 'o', 'l', 'l', 'e', 'h']

In [21]:
# sorted와 reversed는 원본을 수정하지 않는다.
l = [3, 2, 1, 5, 4]
print(sorted(l))
print(l)

[1, 2, 3, 4, 5]
[3, 2, 1, 5, 4]