1부터 100까지 더하는 코드를 작성하세요. for를 사용해서 풀어주세요.

In [ ]:

sum = 0
for n in range(1,101):
    sum += n
    
print (sum)

5050

나이의 평균을 구하는 코드
data = [
  {
    "_id": "6019fd4354979ca26b8f91dc",
    "age": 26,
    "eyeColor": "green",
    "name": "Bender Allen",
    "gender": "male"
  },
  {
    "_id": "6019fd43db2951868889a0b4",
    "age": 27,
    "eyeColor": "blue",
    "name": "Jacobs Golden",
    "gender": "male"
  },
  {
    "_id": "6019fd438c0bf8e775c28536",
    "age": 27,
    "eyeColor": "brown",
    "name": "Grimes Oneal",
    "gender": "male"
  },
  {
    "_id": "6019fd43b68a7fd8b081ab26",
    "age": 40,
    "eyeColor": "blue",
    "name": "Melissa Joyce",
    "gender": "female"
  },
  {
    "_id": "6019fd436c1edc4757aabb9d",
    "age": 32,
    "eyeColor": "blue",
    "name": "Malone Bush",
    "gender": "male"
  },
  {
    "_id": "6019fd438eaf753918f55226",
    "age": 34,
    "eyeColor": "green",
    "name": "Davenport Hyde",
    "gender": "male"
  },
  {
    "_id": "6019fd43c35929ff95004109",
    "age": 20,
    "eyeColor": "blue",
    "name": "Shauna Blevins",
    "gender": "female"
  }
]

In [4]:
data_list = [
  {
    "_id": "6019fd4354979ca26b8f91dc",
    "age": 26,
    "eyeColor": "green",
    "name": "Bender Allen",
    "gender": "male"
  },
  {
    "_id": "6019fd43db2951868889a0b4",
    "age": 27,
    "eyeColor": "blue",
    "name": "Jacobs Golden",
    "gender": "male"
  },
  {
    "_id": "6019fd438c0bf8e775c28536",
    "age": 27,
    "eyeColor": "brown",
    "name": "Grimes Oneal",
    "gender": "male"
  },
  {
    "_id": "6019fd43b68a7fd8b081ab26",
    "age": 40,
    "eyeColor": "blue",
    "name": "Melissa Joyce",
    "gender": "female"
  },
  {
    "_id": "6019fd436c1edc4757aabb9d",
    "age": 32,
    "eyeColor": "blue",
    "name": "Malone Bush",
    "gender": "male"
  },
  {
    "_id": "6019fd438eaf753918f55226",
    "age": 34,
    "eyeColor": "green",
    "name": "Davenport Hyde",
    "gender": "male"
  },
  {
    "_id": "6019fd43c35929ff95004109",
    "age": 20,
    "eyeColor": "blue",
    "name": "Shauna Blevins",
    "gender": "female"
  }
]



type(data_list)
age_list = list()
for data in data_list:
    age_list.append(int(data["age"]))

print(age_list)
type(age_list[0])

avg = sum(age_list) / len(age_list)
print("평균 =",avg)

[26, 27, 27, 40, 32, 34, 20]
평균 = 29.428571428571427

위 데이터를 관리할 User 클래스를 만들어주세요. 인스턴스들은 리스트로 관리됩니다.

In [6]:
class user:
    
    def __init__(self, _id, name, age, eyeColor, gender):
        self._id = _id
        self.name = name
        self.age = age
        self.eyeColor = eyeColor
        self.gender = gender
        
    

class user_list:
    user_list = list()
    def __init__(self, user):
        self.user_list.append(user)

    def print_list():
        print(self.user_list)

    def del_list():
        self.user_list.remove()